@CHARSET "utf-8";

#main-r-val.column-right {
	margin-left: 146px;
	}
.textareaWP {
	width: 480px;
	left: 360px;
}
.leftimg {
	position:relative;
	display:inline-block;
	float:left;
}
a.r-val-downbtn {
	position:absolute;
	top: 380px;
	left: 170px;
	display:inline-block;
	background:#cad0d6;
	padding: 4px;
	text-align:center;
	font-size: 14px;
	color:#000000 !important;
	z-index: 3;
}
a.importantbtn {
	position:absolute;
	bottom: -10px;
	right: 10px;
	display:inline-block;
	background:#cad0d6;
	padding: 4px 10px;
	text-align:center;
	font-size: 14px;
	color:#000000 !important;
	z-index: 3;
}
a.r-val-downbtn:hover,
a.importantbtn:hover {	
	background:#637684; 
	color:#ffffff !important;
}
ul.r-vals {
	list-style:none;
	margin: 0px;
	padding: 0px;
}
ul.r-vals li{
	color: #758595;
	border: 1px solid #f0d346;
	margin: 0px 0px 12px 0px;
	padding: 6px;
}
ul.r-vals li a .btnview{
	float:right;
	background:#cad0d6;
	color:#444648;
	padding: 4px;
	margin: -4px;
}
ul.r-vals li a:hover .btnview{
	background:#637684; 
	color:#ffffff; 
	text-shadow: 0  -1px 1px #000000;
}
div.column-right[id*="pg"],
div.column-right#main-r-val {
	display:none;
/*	background:#ffffff;*/
	height:0px;
	
	position:absolute !important;
	left:0px;
	top:0px;
	width: 800px;
	opacity: 0;
}

.pg_title {
	position:relative;
	height: 40px;
	}
a.closebtn {
	position: absolute;
	bottom: 10px;
	background:#cad0d6;
	color:#000000 !important;
	/*	font-size: 18px; */
	padding: 4px;
	z-index: 3;
}
a.closebtn:hover {
	background:#637684; 
	color:#ffffff !important; 
}
h3.sub_title {
	position: absolute;
	left: 60px;
	bottom: 10px;
	
	font-size: 24px;
	line-height: 24px;
	color:#787876;
	margin: 0px;
	padding: 0px;
	z-index: 3;
}
.main_title {
	
	position:absolute;
    right: 10px;
    color: #787876;
    font-size: 30px;
    padding: 0px;
    margin: 0px; 
}
.tablearea {
	width:570px;
    margin: 2px 10px 0px 240px;
    z-index: 10;
}
div[id*="pg"] .yellowLabel{
	background-color: #EAC300;
	font-size: 14px;
	padding: 5px 10px;
	line-height: 18px;
}
div[id*="pg"] .yellowLabel h3 {
	margin: 0px;
	color:#ffffff;
	font-size: 15px;
}
div[id*="pg"] .yellowLabel sup {
	font-size: 8px;
	top: -8px;
} 
.tablearea table {
	background: #EAC300;
}
.tablearea table td {
	background:#FFFFFF;
	text-align:center;
	font-size: 12px;
	line-height: 13px;
}
#pg_important .content ol {
	width:46%; float:left; 
	font-size: 13px;
	margin: 0px;
	padding: 16px 4px 4px 16px;
	line-height: 14px;
}
#pg_important .content ol li{
	margin: 2px 2px;
}

