/* clear float */

.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; margin: 0; padding: 0}

/* accessories with 'x.php' endings */

.accessoriesx {
	padding:		0 30px;
}

.accessoriesx .indexx {
	position:		relative;
	margin:			15px 0 0;
	text-align:		right;
}

.accessoriesx .indexx h1 {
	position:		absolute;
	top:			65px;
	left:			auto;
	right:			60px;
	color:			#000;
	font-size:		24px;
	text-align:		left;
}

.ax-header {
	position:		relative;
	margin-bottom:	5px;
	font-family:	Helvetica, Arial, sans-serif;
}

.ax-header .left {
	float:			left;
	width:			265px;
}

.ax-header .left h3 {
	margin:			0;
	padding:		20px 0 15px;
	font-size:		18px;
	font-weight:	600;
	line-height:	24px;
	color:			#647785;
	white-space:	nowrap;
}

.ax-header nav {
	position:		relative;
	width:			248px;
	font-family:	Arial;
}

.ax-header nav .name {
	height:			22px;
	padding:		0 0 0 5px;
	background:		url("/menu-css/button-menu.png") no-repeat scroll 0 0 transparent;
	line-height:	22px;
	color:			#222;
}

.ax-header nav select {
	position:		absolute;
	top:			0;
	left:			0;
	height:			22px;
	width:			100%;
	opacity:		0;
	cursor:			pointer;
	font-family:	Arial;
}

.ax-header nav select optgroup {
	color:			#000;
	font-size:		18px;
	font-style:		normal;
	font-weight:	bold;
	font-family:	Arial;
}

.ax-header nav select optgroup option {
	color:			#647684;
	font-size:		12px;
	font-family:	Arial;
	font-weight:	bold;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
    .ax-header nav select optgroup { font-size: 13px; } /* hack for chrome option sizing */
}


.ax-header .download {
	position:		absolute;
	left:			275px;
	bottom:			5px;
	padding:		0 5px;
	background:		#bcc5cb;
	font-size:		14px;
	line-height:	16px;
	color:			#000;
	text-decoration:none;
}

.ax-header .download:hover {
	background:		#203b50;
	color:			#fff;
}

.ax-header .right {
	float:			right;
	padding:		20px 0 5px;
}

.ax-header .right h2 {
	margin:			0;
	font-size:		30px;
	font-weight:	normal;
	color:			#818181;
}

.ax-header .right h2 strong {
	color:			#343434;
	font-weight:	normal;
}

.ax-header .right p {
	margin:			12px 0 0;
	font-size:		17px;
	color:			#444;
	line-height:	18px;
}

.accessoriesx .scrollable {
    height:			322px;
    overflow:		auto;
    visibility:		visible;
    width:			959px;
}

.ax-table {
	width:			100%;
	margin:			0;
	padding:		0;
	border:			none;
	border-collapse:separate;
	border-spacing:	2px;
	background:		#fff;
}

.ax-table th,
.ax-table td {
	padding:		3px 5px;
	text-align:		left;
	font-family:	Helvetica, Arial, sans-serif;
	color:			#798a96;
}

.ax-table td strong {
	font-weight:	600;
	font-size:		1.03em;
}

.ax-table thead th {
	background:		#637684;
	font-weight:	500;
	color:			#fff;
	white-space:	nowrap;
}

.ax-table .t1 {width: 100px}
.ax-table .t2 {width: auto}
.ax-table .t3 {width: 70px}
.ax-table .t4 {width: 70px}
.ax-table .t5 {width: 110px}
.ax-table .t6 {width: 135px}
.ax-table .t7 {width: 40px}
.ax-table .t9 {width: 65px}

.ax-table tbody .t1 {text-align: center; padding: 0; width: 110px}
.ax-table tbody .t6 {padding: 3px 0; width: 145px}
.ax-table tbody .t7,
.ax-table tbody .t9 {text-align: center}
.ax-table tbody .t8 {text-align: center; padding: 0; width: 29px}
.ax-table tbody .t5-p0 {padding: 0; width: 120px}

.ax-table .t2 .imgbox {
	position:		relative;
}

.ax-table .t2 .imgbox img {
	position:		absolute;
	bottom:			-3px;
	right:			0;
}

.ax-table .bordered {
	padding:		3px 5px;
	border:			#637684 1px solid;
	font-size:		0.92em;
}

.ax-table .hr {
	margin-bottom:	3px;
	padding-bottom:	3px;
	border-bottom:	#637684 1px solid;
}

.ax-table > tbody > tr > th {
	padding:		5px;
	font-weight:	600;
	font-size:		15px;
}

.ax-table > tbody > tr > th.head {
	padding:		3px 5px;
	background:		#637684;
	font-weight:	500;
	color:			#fff;
	white-space:	nowrap;
	font-size:		12px;
}

.ax-table > tbody > tr > th small {
	display:		block;
	margin-top:		5px;
	font-weight:	normal;
	font-size:		12px;
	line-height:	14px;
}

.ax-table tbody td {
	background:		#f3f3f3;
}


.ax-table .t6 a {
	color:			#06F;
	text-decoration:underline;
}

.ax-table .t6 a:hover {
	color:			#203b50;
	text-decoration:underline;
}

.ax-params {
	width:			100%;
	margin:			0;
	padding:		0;
	border:			none;
	border-collapse:collapse;
	border-spacing:	0;
}

.ax-params th {
	border-bottom:	#637684 1px solid;
	font-weight:	normal;
}

.ax-params th,
.ax-params td {
	font-size:		0.95em;
}

.ax-table .t4 .ax-params th,
.ax-table .t6 .ax-params td {
	white-space:	nowrap;
}

.ax-table .see-photo {
	position:		relative;
	text-align:		center;
}

.ax-table .t6 > .see-photo {
	text-align:		left;
}

.accessoriesx .see-photo a {
	display:		inline-block;
	padding:		0 5px;
	background:		#bcc5cb;
	-webkit-border-radius: 3px;
	border-radius:	3px;
	font-size:		13px;
	line-height:	15px;
	color:			#000;
	text-decoration:none;
	cursor:			pointer;
}

.accessoriesx .see-photo a:hover {
	background:		#203b50;
	color:			#fff;
	text-decoration:none;
}

.ax-table .t6 > .see-photo a {
	text-align:		center;
	text-decoration:none;
}

.ax-table a.link {
	display:		block;
	margin:			4px 8px;
	padding:		0 5px;
	background:		#637684;
	-webkit-border-radius: 6px;
	border-radius:	6px;
	font-size:		10px;
	line-height:	15px;
	color:			#fff;
	text-decoration:none;
	cursor:			pointer;
	text-align:		center;
	white-space:	nowrap;
}

.ax-table a.link:hover {
	background:		#203b50;
	color:			#fff;
	text-decoration:none;
}

.accessoriesx .see-photo .box {
	z-index:		5;
	display:		none;
	position:		absolute;
	top:			-30px;
	right:			100%;
	padding:		15px;
	background:		#fff;
	-webkit-border-radius: 4px;
	border-radius:	4px;
	border:			#bcc5cb 1px solid;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow:		1px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.ax-table .t6 .left {
	float:			left;
	width:			50px;
}

.accessoriesx .t6 .left .see-photo a {
	padding:		0;
	font-size:		12px;
}

.ax-table .t6 .txt {
	margin-left:	50px;
	font-size:		11px;
	line-height:	15px;
}

.ax-table .t6 .txt2 {
	margin-left:	50px;
}

.ax-table .t6 .suppliers {
	position:		relative;
}

.ax-table .t6 .suppliers a.click {
	display:		inline-block;
	padding:		0 5px;
	background:		#bcc5cb;
	-webkit-border-radius: 3px;
	border-radius:	3px;
	font-size:		13px;
	line-height:	15px;
	color:			#000;
	text-decoration:none;
	text-align:		center;
	cursor:			pointer;
}

.ax-table .t6 .left .suppliers a.click {
	font-size:		12px;
}

.ax-table .t6 .suppliers a.click span {
	color:			#3f5668;
}

.ax-table .t6 .suppliers a.click:hover {
	background:		#203b50;
	color:			#fff;
}

.ax-table .t6 .suppliers a.click:hover span {
	color:			#9e9db3;
}

.ax-table .t6 .suppliers .mapbox {
	display:		none;
	z-index:		5;
	position:		absolute;
	top:			-30px;
	right:			20px;
}

.ax-table .t6 .suppliers .mapbox .box {
	display:		block;
	position:		relative;
	width:			260px;
	height:			200px;
	background:		#fff;
	-webkit-border-radius: 4px;
	border-radius:	4px;
	border:			#bcc5cb 1px solid;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow:		2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.ax-table .t6 .suppliers .map-area {
	position:		absolute;
	width:			196px;
	height:			178px;
	bottom:			3px;
	right:			5px;
	overflow:		hidden;
	line-height:	0;
}

.ax-table .t6 .suppliers .map-area img {
	display:		none;
	z-index:		6;
	position:		absolute;
	top:			0;
	left:			0;
}

.ax-table .t6 .suppliers .map-area img.stat {
	display:		block;
	z-index:		7;
}

.ax-table .t6 .suppliers .mapbox .box .close {
	z-index:		8;
	position:		absolute;
	right:			5px;
	top:			5px;
	display:		inline-block;
	padding:		0 3px;
	background:		#d9d9d9;
	-webkit-border-radius: 3px;
	border-radius:	3px;
	font-size:		11px;
	line-height:	12px;
	color:			#000;
	text-decoration:none;
	text-align:		center;
	cursor:			pointer;
}

.ax-table .t6 .suppliers .mapbox .box .close:hover {
	background:		#203b50;
	color:			#fff;
}

.ax-table .t6 .suppliers .mapbox .box strong {
	z-index:		8;
	position:		absolute;
	display:		block;
	top:			5px;
	left:			7px;
	font-weight:	600;
	font-size:		1.05em;
}

.ax-table .t6 .suppliers .mapbox .box p {
	z-index:		8;
	position:		absolute;
	margin:			0;
	top:			25px;
	left:			7px;
	font-size:		11px;
	line-height:	13px;
}

.ax-table .t6 .suppliers .mapbox .box .other {
	z-index:		8;
	position:		absolute;
	display:		inline-block;
	bottom:			6px;
	left:			7px;
	padding:		0 5px;
	background:		#bcc5cb;
	-webkit-border-radius: 3px;
	border-radius:	3px;
	font-size:		12px;
	line-height:	14px;
	color:			#000;
	text-decoration:none;
	text-align:		center;
	cursor:			pointer;
}

.ax-table .t6 .suppliers .mapbox .box .other:hover {
	background:		#203b50;
	color:			#fff;
}

.ax-table .t6 .suppliers .mapbox .sub > div {
	display:		none;
	position:		absolute;
	top:			5px;
	right:			100%;
	margin-right:	5px;
	padding:		5px 7px;
	background:		#fff;
	-webkit-border-radius: 4px;
	border-radius:	4px;
	border:			#bcc5cb 1px solid;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow:		1px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.ax-table .t6 .suppliers .mapbox .sub table,
.ax-table .t6 .suppliers .mapbox .sub td {
	background:		#fff;
	font-size:		14px;
	white-space:	nowrap;
}

.ax-table .t6 .suppliers .mapbox .sub .s1 {
	white-space:	nowrap;
	font-weight:	bold;
}

.ax-table .t6 .suppliers .mapbox .sub .s2 {
	white-space:	nowrap;
	font-weight:	bold;
	color:			#bfc7cd;
	text-align:		right;
}

.ax-table .t6 .suppliers .mapbox .sub .s3 {
	white-space:	nowrap;
	color:			#444;
	text-align:		right;
	font-size:		12px;
}

.ax-table .t6 .suppliers .mapbox .sub .line {
	height:			14px;
	line-height:	14px;
	border-bottom:	#bfc7cd 1px solid;
}

.ax-table .t6 .suppliers .mapbox .sub .line > .left {
	width:			auto;
	line-height:	16px;
	background:		#fff;
}

.ax-table .t6 .suppliers .mapbox .sub .line > .right {
	float:			right;
	line-height:	16px;
	background:		#fff;
}

.ax-table .t6 .suppliers .mapbox .sub .recommended,
.ax-table .see-photo .box .recommended {
	width:			590px;
	margin:			0;
	padding:		0;
	border:			none;
	border-collapse:separate;
	border-spacing:	1px;
	background:		#555;
}

.ax-table .see-photo .box td {
	background:		#fff;
}

.ax-table .t6 .suppliers .mapbox .sub .recommended td,
.ax-table .see-photo .box .recommended td {
	text-align:		left;
	vertical-align:	top;
	font-size:		12px;
	background:		#fff;
	white-space:	normal;
}

/* page - Artista column */

.ax-left {
	float:			left;
	width:			220px;
	margin:			6px 0 0 0;
}

.ax-left .boxx {
	position:		relative;
	margin-bottom:	10px;
	padding:		10px 5px 10px 10px;
	background:		#f7f5ef;
}

.ax-left .boxx h3 {
	margin:			0 0 7px;
	font-size:		16px;
	color:			#286192;
}

.ax-left .boxx p {
	margin:			0;
	color:			#222;
}

.ax-left .boxx .see-photo {
	padding:		20px 0 30px;
	text-align:		center;
}

.ax-left .boxx .see-photo .box {
	right:			auto;
	left:			200px;
	top:			20px;
}

.ax-right {
	margin:			6px 0 0 226px;
}

.ax-right > small {
	font-size:		78%;
}

.ax-colums {
	width:			100%;
	margin:			0 0 10px;
	padding:		0;
	border:			none;
	border-collapse:collapse;
	border-spacing:	0;
}

.ax-colums .t1 {width: 90px}
.ax-colums .t2 {width: 100px}
.ax-colums .t3 {width: 110px}
.ax-colums .t4 {width: 80px}
.ax-colums .t5 {width: 60px}
.ax-colums .t6 {width: 45px}
.ax-colums .t8 {width: 33%; text-align: left}
.ax-colums .t9 {width: 20%; text-align: left}
.ax-colums tbody .t9 {white-space: nowrap; font-size: 0.9em}


.ax-colums thead th {
	padding:		6px 10px;
	background:		#98b2c1;
	font-weight:	600;
	font-size:		13px;
	color:			#286192;
	text-align:		left;
}

.ax-colums thead td {
	padding:		2px 5px;
	background:		#d4dce2;
	font-weight:	normal;
	font-size:		10px;
	line-height:	12px;
	color:			#286192;
	text-align:		center;
}

.ax-colums tbody td {
	padding:		2px 5px;
	background:		#f7f5ef;
	font-weight:	normal;
	font-size:		12px;
	line-height:	12px;
	color:			#5e83a3;
	text-align:		center;
}

.ax-colums tbody .odd td {
	background:		#eeeade;
}








