.sc_firewall{
  margin: 10px 20px 0 170px;
  height: 425px;
}

.sc_firewall_main h1 {
  left: 405px;
  font-size: 30px;
  color: #787876;
  position: absolute;
  top: 11px;
}

.sc_firewall .line {
  border-bottom: 8px solid #EAC300;
  margin-top: 42px;
}

.sc_firewall_main_content {
  background: none repeat scroll 0 0 white;
  height: 390px;
  left: 465px;
  position: absolute;
  top: 80px;
  width: 520px;
  z-index: 8;
}

.sc_firewall_main_content table{}
.sc_firewall_main_content table td{
  padding: 5px 6px 5px;
  color:#647684;
  font-family: Arial, Helevtica, sans-serif;
  font-size: 12px;
  font-weight:bold;
  line-height: 12px;
}

.Field_text {
    color: #647684;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 8px;
}
.Field_text, .Field_text input, textarea {
    color: #647684;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
}

#pic_box {
    height: 258px;
    left: 165px;
    position: absolute;
    top: 87px;
    width: 349px;
    z-index: 59;
}

.sc_bush_layers .sc_firewall_results {
    display: none;
    height: 350px;
    left: 170px;
    position: absolute;
    top: 47px;
    width: 810px;
    z-index: 8;
  overflow: auto;
}

.sc_bush_layers > div a.sc_firewall_close:link,
.sc_bush_layers > div a.sc_firewall_close:hover,
.sc_bush_layers > div a.sc_firewall_close:active,
.sc_bush_layers > div a.sc_firewall_close:visited
 {
position: absolute;
right: 0px;
top: 2px;
background: #F5E180;
font-size: 13px;
padding: 1px 4px;
height: 15px;
color: black;
text-decoration: none;
}

.sc_bush_layers > div table td.heading_firewall{
padding: 5px 5px 5px 0;
border-right: 1px solid #EAC300;
vertical-align: middle;
text-align: center;
}

.sc_curvedwalls{
  margin: 10px 20px 0 170px;
  height: 425px;
}

.sc_curvedwalls_main h1 {
  left: 675px;
  font-size: 30px;
  color: #787876;
  position: absolute;
  top: 11px;
}

.sc_curvedwalls .line {
  border-bottom: 8px solid #EAC300;
  margin-top: 42px;
}

.sc_fastenerselection{
  margin: 10px 20px 0 170px;
  height: 425px;
}

.sc_fastenerselection_main h1 {
  left: 665px;
  font-size: 30px;
  color: #787876;
  position: absolute;
  top: 11px;
}

.sc_fastenerselection .line {
  border-bottom: 8px solid #EAC300;
  margin-top: 42px;
}

.fs-bg-new {
left: 175px;
position: absolute;
top: 10px;
z-index: 1;
}