@font-face {
    font-family: 'Helvetica';
    src: url('hlr_____-webfont.eot');
    src: url('hlr_____-webfont.eot?#iefix') format('embedded-opentype'),
         url('hlr_____-webfont.woff') format('woff'),
         url('hlr_____-webfont.ttf') format('truetype'),
         url('hlr_____-webfont.svg#HelveticaNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.clear {clear:both;}
body {
	background-color: #e7e8e9;
	font-family:  Helvetica, Arial, 'Trebuchet MS', sans-serif;
}
#home {
	font-family: Helvetica,Arial,'Trebuchet MS',sans-serif;}
#page {
	background-color: #E7E8E9;
	padding: 0  53px;
	width: 1030px;text-align: left; 
}
#wrapper {
	padding: 0 20px;
	width: 986px;
	background-color: #FFF;
	position: relative;
}
#wrapper2 {
	padding: 0;
	width: 1000px;
	    height: 622px;
	margin-bottom: 20px;
	background-color: #FFF;
	position: relative;
/* 	-moz-box-shadow: -2px 2px 7px rgba(0,0,0,.5); 
	-webkit-box-shadow: -2px 2px 7px rgba(0,0,0,.5); 
	box-shadow: -2px 2px 7px rgba(0,0,0,.5);  */
}

.main-page {

    height: 367px;
    height: 373px!ie;
    padding: 5px 20px 0;
    position: relative;
    z-index: 90;
}
.bacground_dtc {
    left: 0px;
    position: absolute;
    top: 142px;
    z-index: 0;
	}
.leftshadow {
    left: -6px;
    position: absolute;
    top: 0;
}
.bottomshadow {
    left: -6px;
    position: absolute;
    top: 622px;
}


/*header*/
#main-header {
	height: 116px;
	padding: 0;
	position: relative;
}

.logo {
    left: 27px;
    position: relative;
    text-decoration: none;
    top: 32px;
}
.logo  img {
	width: 272px;}
.trademark {
	position: absolute;
	right: 33px;
	top: 56px;
}
.trademark_position1 {
    right: 17px;
    top: 60px;
}

/*slider-welcome*/
#slider-welcome {
	/* width: 984px; */
	height: 223px;

	position: relative;
	z-index: 200;
}
.top-bl {
	background-color: #5c5d5f;
	position: relative;
	z-index: 100;
	text-align: right;
	padding-right: 77px;
	height: 21px;
}
/* .top-bl.shadow {
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
} */
.top-bl .contact {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	font-family: Verdana, Helvetica, 'Trebuchet MS', sans-serif;
	font-size: 14px;
	height: 18px;
	display: none;
	line-height: 18px;
}
.top-bl a.contact:hover {
	color: #ccc;
}

.light-black-block video  {
/* background-color: white;
margin-top: 0; */}
.light-black-block {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	background-color: transparent;
	height:224px;
	display: none;
	width: 100%;
	overflow: hidden;
}
.techlit {
height: 157px;
}
.light-black-block img {
	display: none;
	    width: 1000px;
}
.blue-block {
	width: 382px;
	height: 202px;
	position: absolute;
	display: none;
	left: 524px;
	z-index: 95;
	background: url("../images/blue-fone.png") repeat 0 0 transparent;
}
.transparent-block {
	width: 414px;
	height: 200px;
	position: absolute;
	display: none;
	left: 524px;
	z-index: 95;
}
.welcome-text {
	color: #fff;
	font-size: 12px;
	padding: 26px 20px 0 20px;
	font-weight: bold;
	display: none;
}
.welcome-text b{
	font-size: 30px;
	font-weight: bold;
	font-family:  Verdana, 'Trebuchet MS', sans-serif;
	letter-spacing: -2px;
	line-height: 110%;
	display: block;
	margin-bottom: 18px;
}
.welcome-text span{
	font-size: 14px;
}
.transparent-block .welcome-text {
	padding-top: 15px;
 }
.transparent-block .welcome-text b span {
	color: #eb8900;
	font-size: 35px;
}
.transparent-block .welcome-text b {
	color: #8a8e98;
	font-size: 35px;
	font-weight: normal;
	margin-bottom: 10px;
}
.yellow-block {
	padding: 10px;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	background: url("../images/fone-yellow.png") repeat 0 0 transparent;
}
.techlits .blue-block {
	width: 382px;
	height: 210px;
	position: absolute;
	display: none;
	left: 524px;
	z-index: 95;
	background: url("../images/blue-fone.png") repeat 0 0 transparent;
}
.techlits{
	width: 335px;
	height: 140px;
	position: absolute;
	display: none;
	left: 84px;
	z-index: 95;
}
.techlits .welcome-text {
	color: #fff;
	font-size: 12px;
	padding: 26px 20px 0 20px;
	font-weight: bold;
	display: none;
}
.techlits .welcome-text b{
	font-size: 25px;
	font-weight: bold;
	font-family:  Verdana, 'Trebuchet MS', sans-serif;
	letter-spacing: -2px;
	line-height: 110%;
	display: block;
	margin-bottom: 18px;
}
.techlits .welcome-text span{
	font-size: 14px;
}
.techlits  .welcome-text {
	padding-top: 25px;
 }
.techlits .welcome-text b span {
	color: #179333;
	font-size: 25px;
}
.techlits .welcome-text b {
	color: #808080;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 10px;
}
.techlits .yellow-block {
    background: url("../images/fone-green.png") repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    padding: 10px;
}



.expertss .blue-block {
	width: 382px;
	height: 210px;
	position: absolute;
	display: none;
	left: 524px;
	z-index: 95;
	background: url("../images/blue-fone.png") repeat 0 0 transparent;
}
.expertss{
    display: none;
    height: 140px;
    left: 524px;
    position: absolute;
    top: 14px;
    width: 335px;
    z-index: 95;
}
.expertss .welcome-text {
	color: #fff;
	font-size: 12px;
	padding: 26px 20px 0 20px;
	font-weight: bold;
	display: none;
}
.expertss .welcome-text b{
	font-size: 25px;
	font-weight: bold;
	font-family:  Verdana, 'Trebuchet MS', sans-serif;
	letter-spacing: -2px;
	line-height: 110%;
	display: block;
	margin-bottom: 18px;
}
.expertss .welcome-text span{
	font-size: 14px;
}
.expertss  .welcome-text {
	padding-top: 25px;
 }
.expertss .welcome-text b span {
  color: #333DFA;
	font-size: 25px;
}
.expertss .welcome-text b {
	color: #808080;
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 23px;
}
.expertss .yellow-block {
    background: none repeat scroll 0 0 transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    padding: 10px;
}



/*Home navigation*/
#home-navigation {
	height: 296px;
	position: relative;
	z-index: 80;
	overflow: hidden;
}

.icon-people-menu {
	margin-top: 236px;
	position: relative;
	height: 28px;
	margin-bottom: 4px;
	text-align: right;
	background-color: #184470;
}

.icon-people-menu li {
	display: inline-block;
	height: 28px;
	position: relative;
//display : inline;
//zoom : 1;
	font-size: 13px;
	padding: 0 17px;
}
.icon-people-menu li a {
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	font-weight: bold;
	display: none;
}
.icon-people-menu img {
	display: block !important;
	vertical-align: middle;
	line-height: 100%;

}
.icon-people-menu li a:hover {
	color: #1e9cd5;
}

.icon-people-menu li a span {
	position: relative;
	z-index: 50;
	line-height: 28px;
	display: inline-block;
// display : inline;
// zoom : 1;
	height: 28px;
}
.icon-people-menu .wrp-img {
	position: absolute;
	left: -56px;
	top: -242px;
	height: 236px;
	overflow: hidden;
	display: block !important;
	width: auto;
}
.distributor  {
	z-index: 40;
}
.distributor img {
	width: 300px;
	position: relative;
	margin-top: 28px;
}
.distributor .wrp-img{
	left: -45px;
}
.designer {
	z-index: 35;
}
.designer .wrp-img{
	left: 54px;
	z-index: 25;
}
.designer img {
	width: 251px;
	position: relative;
	margin-top: 20px;
}
.builder{
	z-index: 30;
}
.builder .wrp-img{
	left: -14px;
	z-index: 20;
}
.builder img {
	width: 224px;
	position: relative;
	margin-top: 37px;
}


/*app-login*/
#app-login {
	position: absolute;
	top: 398px;
	left: 60px;
	z-index: 90;
}
#app-login fieldset {
	border: 1px solid #bcc5cb;
	padding: 1px 8px 8px 10px;
}

#app-login .form-title {
	color: #383533;
	font-size: 26px;
	font-weight: 300;
}
#app-login label {
	color: #627582;
	font-size: 9px;
	font-family: Arial, Helvetica, Verdana, 'Trebuchet MS', sans-serif;
}
.wrp-email label{
	display: inline-block;
	width: 44px;
// display : inline;
// zoom : 1;
}

.wrp-password label{
	display: inline-block;
	width: 44px;
// display : inline;
// zoom : 1;
}

.wrp-password input, .wrp-email input{
	width: 124px;
	font-weight: bold;
	font-size: 10px;
	color: #647684;
}

.wrp-remember {
	padding-left: 48px;
}
#app-login .wrp-remember label {
	font-size: 10px;
	display: inline;
	line-height: 10px;
	font-weight: bold;
}

.wrp-submit, .wrp-forgot {
	width: 130px;
	margin: 3px 0 3px 48px;
	text-align: center;
	font-size: 11px;
}
.wrp-forgot a {
	color: #7b8a94;
	text-decoration: none;
}

.wrp-submit input {
	display: block;
	background-color: #b8c1c6;
	border: none;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	width: 70px;
	margin: 0 auto;
	text-align: center;
	padding: 2px 0;
	color: #000;
	font-size: 16px;
}
.wrp-submit input:hover {
	background-color: #203d4e;
	color: #fff;
}

.out-text-registr {
	position: absolute;
	left: 215px;
	top: 14px;
	font-size:23px;
	width: 190px;
	color: #a7a9ac;
	line-height: 110%;
}

.out-text-registr b{
	font-family: "Arial Black", Helvetica, Verdana, 'Trebuchet MS', sans-serif;
}



/*about-menu*/
.about-menu {
	background-color: #a7a9ac;
	height: 19px;
	line-height: 19px;
	text-align: right;
	padding-right: 10px;
	font-size: 0;
}
.about-menu li{
	font-size: 12px;
	color: #fff;
	display: inline-block;
// display : inline;
// zoom : 1;
}
.about-menu li:first-child span{
	display: none;
}
.about-menu span{
	padding: 0 8px;
}
.about-menu a{
	color: #fff;
	text-decoration: none;
}
.about-menu a:hover{
	color: #626264;
}

/*FOOTER*/

footer {
	font-size: 12px;
	color: #333333;}
footer a:link,
footer a:visited,
footer a:active
{
	color: #333333;
	text-decoration: underline;}
footer a:hover {
	color: #0066ee;}
.f-text {
	padding: 15px 0;
	font-size: 9px;
	color: #48484A;
}
.f-text a{
	color: #48484A;
}


/*PAGE2*/
/*main-navigation*/
.all-menu {
	padding-right: 0;
	text-align: left;
}
.main-navigation  {
	width: 100%;
}
.main-navigation ul li:first-child a,
.main-navigation ul li.first-child a {
	padding-left: 29px;
}
.main-navigation ul li.menu-item1 {
    position: absolute;
    right: 105px;
    top: 0;
}
.main-navigation ul li.menu-item2 {
    position: absolute;
    right: 18px;
    top: 0;
}
.main-navigation ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #fff;
position: relative;
// display : inline;
// zoom : 1;
}
.main-navigation ul li ul {
position: absolute;
}
.main-navigation ul li a {
	padding:  0 15px;
	height: 21px;
	line-height: 21px;
	display: inline-block;
	color: #fff;
	text-decoration: none;
// display : inline;
// zoom : 1;
}
.main-navigation ul li a:link,
.main-navigation ul li a:visited,
.main-navigation ul li a:hover,
.main-navigation ul li a:active 
{
color: #ffffff;
}
.main-navigation ul li a:hover {
	background-color: #3c3c3e;
}
.main-navigation .menu-item1 a,
.main-navigation .menu-item1 a:hover {
	position: relative;
	width: 100px;
	    padding: 0;
	background: none;
}
.main-navigation .menu-item1 img {
	position: absolute;
	top: 2px;
	left: 10px;
}
.main-navigation .menu-item2 a,
.main-navigation .menu-item2 a:hover {
	position: relative;
	width: 70px;
	    padding: 0;
			background: none;
}
.main-navigation .menu-item2 img {
	position: absolute;
	top: -5px;
	left: 13px;
}

.main-navigation ul li ul {
    bottom: 23px;
    position: absolute;
	display: none;
	left: 0;
}
.main-navigation ul li ul li {
    display: block;
	
}
.main-navigation ul li ul li a, .main-navigation ul li ul li:first-child a {
    background: none repeat scroll 0 0 #DEE2E5;
    color: #545251;
    display: block;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    margin: 4px 0;
    margin: 2px 0!ie;
    padding: 0 5px;
    width: 150px;
    width: 159px!ie;
		-moz-border-radius: 2px; /* Firefox */
    -webkit-border-radius: 2px; /* Safari, Chrome */
    -khtml-border-radius: 2px; /* KHTML */
    border-radius: 2px 2px 2px 2px;
	    white-space: nowrap;
}
.main-navigation ul li  ul li a:link,
.main-navigation ul li  ul li a:visited,
.main-navigation ul li  ul li a:hover,
.main-navigation ul li  ul li a:active 
{
color: #545251;
}
.main-navigation ul li ul li a.close {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C8CFD4;
    border-radius: 7px 7px 7px 7px;
			-moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    color: #AEBFCB;
    display: block;
    font-size: 8px;
    height: 11px;
    line-height: 11px;
    margin: 2px 0;
    padding: 1px 0 0;
    text-indent: 3px;
    width: 11px;
}
.main-navigation ul li ul li a.close:hover,
.main-navigation ul li ul li:first-child  a.close:hover
 {
    border: 1px solid #a4b7c4;
	    color: #829eb1;
	    background: none repeat scroll 0 0 #FFFFFF;}
.main-navigation ul li ul li a:hover, .main-navigation ul li ul li:first-child a:hover{
    background: none repeat scroll 0 0 #bcc5cb;
}

/*resurse-navigation*/
.wrp-resurse-navigation {
	position: relative;
	z-index:210 ;
	margin-top: -42px;
	height: 212px;
	width: 100%;
}
.form-post-code {
	position: absolute;
	left: 42px;
	top: 78px;
	z-index:120;
	border: 1px solid #c5ccd1;
	padding: 4px;
	display: none;
}

.postcode-title {
	background-color: #23394f;
	position: relative;
	z-index: 20;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	padding:0 75px 0 7px;
}
.form-post-code form {
	padding: 0 0 0 5px;
}

.form-post-code .icon-builder-img {
	z-index: 40;
	position: absolute;
	right: 3px;
	top: 16px;
}

.form-post-code .icon-new-img {
	z-index: 45;
	position: absolute;
	right: -15px;
	bottom: 0;
}
.form-post-code input#postcode{
	float: right;
	width: 60px;
	font-size: 10px;
	vertical-align: middle;
}
.form-post-code label{
	font-size: 11px;
	color: #5a6977;
	position: relative;
	top: 3px;
	line-height: 100%;
	float: left;
}

.form-post-code input#postcode{
	float: right;
}

.form-post-code form{
	width: 120px;
}


.wrp-form-post-code-button{
	text-align: right;
	clear: both;
	padding: 3px 0;
 }
.wrp-form-post-code-button button{
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	margin: 0;
// display : inline;
// zoom : 1;
}
.wrp-form-post-code-button button span{
    background-color: #BDC5CA;
    border: 1px solid #E7EAEC;
    color: #000000;
    display: block;
    font-size: 13px;
    padding: 2px 0;
    text-align: center;
    white-space: nowrap;
    width: 58px;

}

.wrp-form-post-code-button button:hover span{
	background-color: #868d91;
}

.first-time-user h2 span{
    position: relative;
    z-index: 2;
}
.first-time-user h2 a,
.first-time-user h2 a:hover {
color: black;
text-decoration: none;}
.first-time-user h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
	position: relative;
}
.first-time-user h2 img{
    left: 130px;
    position: absolute;
    top: -34px;
    width: 100px;
    z-index: 1;
}
.first-time-user h2 img.gr{
	display: none;}
.first-time-user {
    display: none;
    left: 42px;
    padding: 4px;
    position: absolute;
    top: 117px;
    z-index: 120;
	}


#resurse-navigation {
    font-size: 0;
    padding: 0;
    position: relative;
    text-align: right;
    width: 978px;
    z-index: 100;
	display: none;
}
.item-res{
	position: relative;
	display: inline-block;
	width: 110px;
	margin-right: 10px;
// display : inline;
// zoom : 1;
	font-size: 14px;
	text-align: left;
}
.item-res-img {
	position: absolute;
	left: 0;
	top: -10px;
	z-index: 30;
}
.item-res a {
	text-decoration: none;
	color: #203656;
	display: block;
}
.item-res .icon-new-img {
	position: absolute;
	right: -6px;
	top: 61px;
	z-index: 30;
	display: none;
}
.text-res {
    color: #203656;
    font-size: 12px;
    left: 10px;
    line-height: 14px;
    position: absolute;
    top: 94px;
    width: 94px;
    z-index: 30;

}
.text-res span{
	font-weight: bold;
	display: block;
	padding-bottom: 1px;
}
.item-res-fone {
	position: relative;
	z-index: 15;
}
.item-active-fone {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 20;
	display: none;
}
.item-res:hover .item-active-fone {
	display: block;
}
.item-res .more {
	position: absolute;
	bottom: 4px;
	right: 10px;
	z-index: 35;
	font-size: 12px;
	color: #657584;
	font-weight: bold;
}

.item-res:hover .more {
	color: #39434e;
}

.copyright {
    background-color: #848589;
    color: #FFFFFF;
    font-size: 8px;
    height: 12px;
    padding: 1px 15px 0 0;
    text-align: right;
}

.fone-f-navig	{
	width: 100%;
	position: absolute;
	height: 45px;
	left: 0;
	z-index: 10;
	bottom: 0;
	background: url("../images/fonesw.gif") repeat-x 0 100% transparent;
}

#f-navigation {
	height: 100px;
	position: relative;
	overflow: hidden;
	    width: 1000px;
}
#f-navigation ul {
    display: none;
    margin-right: 10px;

    position: relative;
    text-align: right;
    z-index: 20;
	    width: 1000px;
}
#f-navigation ul li {
	position: relative;
	height: 100px;
    padding: 0 11px;
	display: inline-block;
// display : inline;
// zoom : 1;
/*     width: 87px; */
}
#f-navigation ul li.big {
	/* width: 100px; */}
#f-navigation  a {
	text-decoration: none;
}

#f-navigation ul li span {
	display: block;
	padding-top: 82px;
	white-space: nowrap;
	font-size: 10px;
	color: #191826;
	font-weight: bold;
	position: relative;
	z-index: 30;
	    margin: 0 0;
}
#f-navigation a:hover span {
	text-shadow: 1px 1px 8px #fff;
}

.f-items-top {
	position: absolute;
	bottom:20px;
	left: 50%;
	margin-left: -37px;
}
.f-items-bottom {
	position: absolute;
	bottom:0;
	left: 50%;
	margin-left: -37px;
}


#main-header #member_login {
    background: url("../images/loginbg.jpg") repeat-y scroll right 0 transparent;
    color: #50788B;
    font-size: 12px;
    font-weight: bold;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
	    padding: 5px;
		    line-height: 14px;
}
.welc {
    position: absolute;
    right: 46px;
    top: 5px;
	}
a.edit, a.logout, #form_search button {
	-moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    background: none repeat scroll 0 0 #C7CED5;
    border-radius: 10px 10px 10px 10px;
    color: white;
    display: inline-block;
    font-size: 9px;
    font-weight: normal;
    height: 13px;
    letter-spacing: 1px;
    padding: 0 7px;
    text-decoration: none;
    text-transform: uppercase;
	    border: medium none;
	}
#form_search button {
	padding-top: 1px;}
a.edit:hover, a.logout:hover, #form_search button:hover {
background: none repeat scroll 0 0 #071c31;
}
a.edit {
    position: absolute;
    right: 5px;
	    top: 7px;
}
a.logout {
    position: absolute;
    right: 223px;
    top: 28px;
}

#form_search {
    position: absolute;
    right: 5px;
    top: 23px;
    width: 204px;
}

#form_search  input#sw{
    float: right;
    font-size: 12px;
    height: 20px;
    width: 136px;
}

#form_search  input.search_button {
    margin: 3px 1px 0 0;
}
#form_search table td {
	vertical-align: middle;}

.light-black-block video {

margin-top: 21px;
}

#slider-tech {
    height: 157px;
    position: relative;
/*     width: 984px; */
    z-index: 200;
}
#slider-expert {
    height: 157px;
    position: relative;
/*     width: 984px; */
    z-index: 200;
}
.experts {
height: 157px;}
.mainwrapp{
	height: 239px; 
}
.mainwrapp h2 {
    color: #111111;
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 3px 0;
    text-align: center;
}
.mainwrappbig{
	height: 372px;
}
.mainwrappbig a:link, 
.mainwrappbig a:active, 
.mainwrappbig a:visited, 
.mainwrappbig a:hover
{
text-decoration: none;
}
.mainwrappbig h2 {
    color: #111111;
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 3px 0;
    text-align: center;
}

.mainwrappbig #product_titles1 {
    border: 1px solid #D0D6DB;
    height: 162px;
    left: 29px;
    position: absolute;
    top: 176px;
    visibility: visible;
    width: 277px;
    z-index: 56;
}
.mainwrappbig #product_titles1 h2 {
    color: #748393;
    float: left;
    font-family: arial;
    font-size: 18px;
    left: 0;
    padding: 0;
    position: absolute;
    top: -24px;
    z-index: 999;
	    font-weight: bold;
}
.mainwrappbig #product_titles {
    height: 153px;
    margin: 5px;
    overflow: auto;
    visibility: visible;
    width: 266px;
    z-index: 56;
}
.mainwrappbig .lhbuttons {
    border: 1px solid #D0D6DB;
    height: 157px;
    left: 29px;
    position: absolute;
    top: 350px;
    width: 277px;
    z-index: 99;
}
.mainwrappbig h1 {
    color: #8D9AA7;
    font-size: 27px;
    font-weight: normal;
    left: 333px;
    line-height: 28px;
    margin: 0;
    padding: 0 0 3px;
    position: absolute;
    top: 146px;
}
.mainwrappbig  div.accelerate_body {
    height: 333px;
    left: 335px;
    overflow: auto;
    padding-right: 5px;
    position: absolute;
    top: 176px;
    visibility: visible;
    width: 637px;
    z-index: 57;
}


.ask, .chat, .guidance {
    border: 1px solid #CAD0D6;
    float: left;
    height: 220px;
    margin: 15px 0 0 13px;
    width: 302px;
	color: #7a8998;
	position: relative;
	    z-index: 998;
}
.chat, .guidance {
text-align: center;
}
 .guidance ul  li{
    list-style: disc outside none;
}
.guidance ul {
    font-size: 13px;
    line-height: 15px;
    margin: 10px 0 0 35px;

    text-align: left;
	float: left;
    width: 219px;
    width: 249px!ie;
	    list-style: disc outside none;
} 

.guidance .disclaimer {
	    background: none repeat scroll 0 0 #BCC5CB;
    bottom: 221px;
    color: #213C66;
    font-size: 11px;
    height: 146px;
    left: -1px;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 284px;
    z-index: 999;
	display: none;}
.ask {
	margin-left: 23px;}
.ask img {
    float: left;
    margin: 0 12px 0 23px;
	}
.ask p, .chat p, .guidance p {
    font-size: 13px;
    line-height: 15px;
}
.ask  p  span.big {
    font-size: 24px;
    font-weight: normal;
    line-height: 34px;
}

.techlit-det {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CAD0D6;
    float: right;
    height: 347px;
    height: 374px!ie;
    margin: -125px 24px 0 0;
    padding: 7px;
overflow: hidden;
    width: 470px;
    z-index: 202;
	position:relative;
}

.techlit-det > div {
    display: none;
    font-size: 11px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 468px;
    z-index: 203;
	background: white;
	z-index: 205;

	}
#DES-wet_area_text, #DES-bushfire_text, #DES-bracing-text {
top: 62px;}
#DES-fire_acoust_text {
top: 20px;
}

.techlit-det table {
    color: #647684;
    font-size: 11px;
    margin: 0 auto;
}
.techlit-det table td {
vertical-align: middle;
}

#bodies {
    height: 281px;
    overflow: auto;
    margin: 5px 0 0;
}
.style52 {
    color: #203C50;

    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}
.Product_headings {
    color: #647684;
	font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}
.accelerate_body {
    color: #647684;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
		font-family: Helvetica;
}
.bold_text {
    color: #647684;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}
.techlit-det div.techdet-image {
    display: block;
    padding: 76px 0 29px;
    position: absolute;
    text-align: center;
    top: 5px;
	z-index: 206;
	height: 480px;

	background-color: #ffffff;
}
.techlit-choose {
    border: 1px solid #CAD0D6;
    float: left;
    height: 210px;
    margin: 12px 0 0 24px;
    padding: 7px;
    width: 410px;
}
.techlit-choose .leftside {
    float: left;
    width: 78px;
}
.techlit-choose .leftside h3 {}
.techlit-choose .leftside a.clickfor:hover {
    background: none repeat scroll 0 0 #6e7e8f;
    color: #fff;
	}
.techlit-choose .leftside a.clickfor {
    background: none repeat scroll 0 0 #C9CFD4;
    color: #495B6E;
    display: block;
    font-size: 10px;
    margin: 134px 0 0;
    padding: 3px;
    text-align: center;
    text-decoration: none;

	}
.techlit-choose .desman h2,
.techlit-choose .prodman h2
 {
    color: #6E7E8F;
    font-size: 14px;
    left: -86px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 67px;
	    line-height: 13px;	    font-weight: bold;
 }
.techlit-choose  .desman, .techlit-choose  .prodman {
    border-bottom: 1px solid #CAD0D6;
    border-left: 1px solid #CAD0D6;
    float: right;
    padding: 4px 4px 4px 8px;
    width: 309px;
	position: relative;
}

.techlit-choose  .desman a {
    color: #6E7E8F;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    margin: 6px 0 0;
    text-decoration: none;
}
.techlit-choose  .desman  a:hover,
.techlit-choose  .prodman  a:hover {
	color: #365474;
}
.techlit-choose  .desman {
    height: 73px;
	    margin: 0 0 10px;
}
.techlit-choose  .prodman #product_titles {
    height: 109px;
    margin: 0;
    overflow: auto;
}
.techlit-choose  .prodman {
    height: 109px;
}
.techlit-choose  .prodman h3 {
color: black;
font-size: 15px;
margin: 0;
}
.techlit-choose  .prodman a  {
    color: #6E7E8F;
    font-size: 13px;
    line-height: 15px;
    margin: 0;
    text-decoration: none;
}

.style59 {
    color: black;
    font-size: 15px;
    font-weight: bold;
    height: 15px;
    line-height: 21px;
    margin: 5px 0 0;
    padding: 0;
}


/* Design to Construct */

.dtc h1 {
    color: #637684;
    float: left;
    font-size: 28px;
    font-weight: normal;
    margin: 18px 0;
    padding: 0 0 0 126px;
}
.dtc h2 { 
    color: #637684;
    float: left;
    font-size: 23px;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: 4px 0 0 0;
    position: absolute;
    top: 16px;
	height: 30px;
	}
.dtc h3 {
    clear: both;
    color: #637684;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 0;
    padding: 3px 0 0;
}
.dtc_imgtext {
    color: #63676E;
    font-size: 14px;
    left: 31px;
    position: absolute;
    text-align: left;
    top: 305px;
    width: 347px;
}
.dtc_design, .dtc_detail, .dtc_construct{   
    color: #637684;
    float: right;
    font-size: 13px;
    line-height: 14px;
    padding: 4px 0 0 133px;
    position: relative;
    width: 407px;
    width: 537px!ie;
}
.dtc_design h2 {}
.dtc_detail {      
height: 193px;
height: 198px!ie;
}
.dtc_detail  h2{    top: 88px;}
.dtc_construct {       height: 82px;}
.dtc_construct h2 {    top: 30px;}
.dtc_design {
    height: 90px;
    height: 94px!ie;
}

.dtc ul {
    clear: both;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
	list-style: outside;
text-align: left;
}
.dtc ul  li {
list-style: none;
text-align: left;
    clear: both;

}
.dtc ul  li span {
    float: left;
    font-size: 15px;
    margin: 0 5px 0 0;
	}
.dtc ul  li a {
    color: #203B4F;
    float: left;
    left: 0;

    text-decoration: none;
}
.dtc ul  li a:hover {
	color: #7ca8c1;
	text-decoration: none;
}

.dtc .basic, .dtc .quote  {}
.dtc .basic img {
    bottom: -5px;
    left: 100%;
    position: absolute;
    z-index: 99;
}
.dtc .basic span {
    bottom: -5px;
    color: #637684;
    font-size: 14px;
    height: 50px;
    left: 100%;
    padding: 0 0 0 69px;
    position: absolute;
    text-align: center;
    width: 90px;
    width: 170px!ie;
    z-index: 112;
}
.dtc .quote  img {
    bottom: -27px;
     bottom: -17px!ie;
    left: 110%;
    position: absolute;
    z-index: 99;
}
 .dtc .quote  span {
    bottom: -27px;
	    bottom: 3px!ie;
	color: #637684; 
    font-weight: bold;
    height: 61px;

    left: 110%;
    padding: 0 22px;
    position: absolute;
    text-align: center;
    width: 151px;
    width: 190px!ie;
    z-index: 99;
	font-size: 12px;
	font-size: 12px!ie;
}
.dtc .quote2  img {
    bottom: -27px;
	     bottom: -17px!ie;
    left: 110%;
    position: absolute;
    z-index: 99;
}
 .dtc .quote2  span {
    bottom: -27px;
    bottom: 3px!ie;
	color: #637684; 
    font-weight: bold;
    height: 48px;

    left: 110%;
    padding: 0 22px;
    position: absolute;
    text-align: center;
    width: 151px;
    width: 190px!ie;
    z-index: 99;
	font-size: 12px;
	font-size: 12px!ie;
}
.dtc div.quote, .dtc div.quote2 {
	position: relative;

	}

.dtc {
	z-index: 110;}

.dtc .livechat {
    height: 62px;
    overflow: hidden;
    position: absolute;
    right: 33px;
    top: 229px;
    width: 107px;
    z-index: 90;
}
.dtc .livechat a{
    display: block;
    height: 62px;
    position: relative;
    width: 107px;
    text-align: center;
}
.dtc .livechat a img{
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
.dtc .livechat a:hover img{
    top: -62px;
}
.dtc .livechat a span{
    display: block;
    font-size: 13px;
    line-height: 16px;
    padding: 6px 0 0;
    position: relative;
    text-align: center;
    z-index: 2;
}

