#home-footer {
		z-index: 1;
}

#files_layer {
	position: absolute;
	top: 0;
}

#files_layer table {
	table-layout: fixed;
}

#files_layer table tr:first-child td + td,
#files_layer table tr:first-child th + td {
	width: 130px;
}

#files_layer table tr > th {
	background: #C8CFD4;
}

#files_layer table tr > td:first-child {
	text-align: left;
}

#files_layer table td {
 height: 16px;
 line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #647684;
		text-align: center;
}

#files_layer table tr td:first-child {
	font-weight: normal;
}

#files_layer table tr:nth-child(odd) td {
	background: #C8CFD4;
}

#files_layer table.no-color tr:nth-child(odd) td {
	background: none;
}

#files_layer table.no-color tr > th + td {
	background: #C8CFD4 !important;
}

#files_layer table tr td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	font-weight: normal;
	color: #647684;
}

#files_layer table tr td p {
	margin: 0;
}

#files_layer table tr td a {
	font-size: 10px;
}

#files_layer .invisible td {
	visibility: hidden;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

#header_layr tr:first-child > td {
	background: #647684;
}

#home-footer {	
	width: 100%;
		margin: 0;
			position: absolute;
			top: auto;
			bottom: 0;
			z-index: 2;
}

.double-column {
	float: left;
	height: 538px;
	width: 100%;	
	overflow-y: scroll;
		font-size: 14px;
		color: black;
}

.double-column ~ .jScrollPaneTrack {
	background: #D1D1D1;
}

.double-column .left,
.double-column .right {
	padding-bottom: 60px;
}

.double-column h2 {
	line-height: 28px;
}

.double-column h3 {
	margin-top: 14px !important;
	margin-bottom: 5px !important;
	font-weight: 900;
	font-size: 12px !important;
}

.double-column ul {
	padding-left: 15px;
	margin-left: 0;
}

.double-column .left {
	float: left;
	width: 50%;
}

.double-column .left p,
.double-column .left h2,
.double-column .left h3,
.double-column .left table {
	margin-left: 40px;
}

.double-column .right {
	width: 50%;
	margin-left: 50%;
	padding-top: 15px;
}

.double-column .right p,
.double-column .right h2,
.double-column .right table {
	margin-right: 40px;
}

.full-width {
	width: 100%;
}

.width-55 {
	width: 55%;
	margin-top: -20px;
}

.double-column h2 {
	margin-top: 35px;
		color: #f08700;
		font-size: 27px;
		font-weight: 500;
}

.double-column p {
	color: black;
	font-size: 14px;
}

.float-left {
	float: left;
}

.clearfix {
	clear: both;
}

.margin-top {
	margin-top: -40px !important;
}

.float-right {
	float: right;
}

.right table {
	width: 100%;
	border-collapse: collapse;
		font-size: 12px;
}

.right table caption {
	position: relative;
		text-align: right;	
	/*background: url(/images/table_caption.jpg) right center no-repeat;*/
}

.right table caption p {
	float: left;
	margin: 0;
		position: absolute;
		top: 45%;
			font-size: 16px;
			font-weight: 900;
			color: #504c4b;
}

.right table caption img {
	width: 55%;
		margin-right: 2%;
}

.right table tr {
	background: white;
}

/*.right table tr > td:first-child,
.right table tr > td + td {
	width: 20%;
}*/

.right table tr > td:first-child {
	vertical-align: top;
}

.right table tr:first-child + tr > td:first-child {
	font-weight: 900;
}

/*.right table tr > td + td ~ td {
	width: 15%;
}*/

.right table th {
	background: #4c4c4c;
		height: 14px;	
		line-height: 14px;
		padding: 2px;
			font-size: 12px;
			color: white;
}

.right table th + td {
	width: 0;
}

.right table td {
	padding: 2px;
}

.right table tr {
	background: #f3f3f3;
}

.right table tr td[rowspan] {
	font-weight: 900;
}

.yes {
	background: url(../images/pic_checked.png) center center no-repeat;
}

.no {
	background: url(../images/pic_x.png) center center no-repeat;
}

.yes, .no {
	width: 12%;
}

h2 + .scaled {
	width: 50%;
}

.scaled[src*="pic_03"] {
	width: 39%;
}

img[src*="pic04"] {
	margin-left: 5%;
	width: 95%;
}

img[src*="pic04"] + p {
	width: 40%;
	margin-top: -20%;
}

img[src*="pic05"]{
	width: 50%;
	text-align: right;
}

.left h3 + p {
	margin-top: 0;
}

img[src*="pic06"]{
	width: 60%;
}

.mainwrappbigest .testimonial {
	padding-bottom: 20px;
}

.mainwrappbigest .testimonial .clicktoret.top {
	top: 260px;
}

.two-column {
	width: 100%;
	float: left;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			padding: 10px 70px;
}

.multimedia, .links {
	background: #eaedef;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
}

.multimedia {
	width: 60.5%;
		margin-right: 1.5%;
}

.multimedia h2 {
	margin: 5px;
}

.links {
	height: 418px;
	width: 38%;
	overflow-y: scroll;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 10px 7px;

}

.links > a,
.links .design_info,
.links .construct_info {
	display: block;
	width: 100%;
	float: left;
	
	background: white;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			padding: 5px 3px;
			margin-bottom: 2px;
				text-decoration: none;
				color: black;
}

.links .design_info {
	width: 100%;
	height: 68px;
	background: white url('../images/picDesign.png') center center no-repeat;
}

.links .construct_info {
	width: 100%;
	height: 68px;
	background: white url('../images/picConstruct.png') center center no-repeat;
}

.links > a:hover {
	background: #bbccd8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#bbccd8));
	background: -webkit-linear-gradient(#ffffff, #bbccd8);
	background: -moz-linear-gradient(#ffffff, #bbccd8);
	background: -ms-linear-gradient(#ffffff, #bbccd8);
	background: -o-linear-gradient(#ffffff, #bbccd8);
	background: linear-gradient(#ffffff, #bbccd8);
}

.links > a > h3,
.links > a > p {
	margin-top: 0;
	margin-bottom: 15px;
	margin-left: 70px;
	margin-right: 0;
}

.links > a > p {
	margin-bottom: 0 !important;
}

#ie_video, #video1 {
	position: relative;
	z-index: 1;
}

#f-navigation {
	margin-bottom: 0;
}

#audio1 {
	height: 390px;
	width: 100%;
}

.Field_text, .Field_text input, textarea {

font-weight: normal!important;

}

.gallery .mainwrappbig {
	text-align: center;
	padding: 0;
}

.gallery .mainwrappbig img {
	margin-top: 55px;
}

.gallery #product_titles,
.gallery .cadassist .jScrollPaneContainer {
	float: left;
	text-align: left;
}

.gallery #product_titles {
	margin: 0;
	padding: 5px;
}

.gallery #product_titles .style59 {
	font-size: 18px;
}

.gallery #product_titles a {
	display: inline-block;
	margin: 0;
}

.gallery .cadassist .jScrollPaneContainer {
	border: 1px solid #c5cdd0;
}

.gallery .mainwrappbig h2 {
	border: none;
	font-size: 20px;
		position: absolute;
		left: 50px;
		top: 0;
}

#lightwindow_contents {
	overflow-y: hidden !important;
}

.scroll .jScrollPaneContainer {
	top: -535px !important;
    width: 238px !important;
    height: 270px !important;
}

.top-image .main-page {
	padding: 30px 20px 0;
}

.top-image .bacground_dtc {
	top: 102px;
}

.top-image .dtc_imgtext {
	top: 335px;
}

.top-image .dtc {
	z-index: auto;
}

.top-image .dtc .quote img,
.top-image .dtc .quote span {
	z-index: 999;
}


.ui-tabs .ui-tabs-nav {
	padding: 0;
		position: relative;
		z-index: 2;
}

.ie8 .ui-tabs {
	margin: 15px 0 0;
}

.ui-tabs {
	background: white;
		border: none;
		font-size: 14px;
}

.ui-widget-header {
	border: 0;
	background: none;
}

.ui-corner-top {
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
}

.ui-tabs .ui-tabs-nav li {
	margin: 0 10px 0 0;
	/*border-bottom: 1px solid white !important;*/
		position: relative;
}

.ie8 .ui-widget-content .ui-state-default {
	box-shadow: none;
	border-width: 2px;
}

.ui-widget-content .ui-state-default {
	border: 1px solid #D8D8D8;

	background: #f8f8f8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f8f8f8), to(#ebebeb));
	background: -webkit-linear-gradient(#f8f8f8, #ebebeb);
	background: -moz-linear-gradient(#f8f8f8, #ebebeb);
	background: -ms-linear-gradient(#f8f8f8, #ebebeb);
	background: -o-linear-gradient(#f8f8f8, #ebebeb);
	background: linear-gradient(#f8f8f8, #ebebeb);
	-pie-background: linear-gradient(#f8f8f8, #ebebeb);

	box-shadow: 1px -1px 8px -4px black;
}

.ie8 .ui-widget-content .ui-state-default.ui-tabs-selected {
	-pie-background: linear-gradient(#ffffff, #ffffff);
	box-shadow: none;
}

.ui-widget-content .ui-state-default.ui-tabs-selected {
	background: white;
	box-shadow: 1px -2px 10px -4px #686868;
		position: relative;
}

.ui-widget-content .ui-state-default.ui-tabs-selected:before {
	height: 40%;
	width: 100%;
	display:block;
	content:'';
	background: white;
		position: absolute;
		left: 0;
		top: 48px;
		z-index: 1;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
}

.ie8 .ui-tabs .ui-tabs-nav li a  {
	width: auto;
	height: auto;
	padding: 5px;
}

.ui-tabs .ui-tabs-nav li a {
	width: 125px;
	height: 52px;
	padding: 0;
	margin-right: 5px;
}

#tabs-1,
#tabs-2,
#tabs-3 {
	background: white;
}

.ui-tabs .ui-tabs-nav li:last-child {
	width: 125px;
	height: 52px;
}

#tabs ul > li > a > span:nth-of-type(1) {
	font-size: 14px;
	color: #4f4f4f;
		position: absolute;
		top: 5px;
		left: 5px;
}

#tabs ul > li > a > span:nth-of-type(2) {
	font-size: 18px;
	font-weight: 100;
	color: #ffaa00;
		margin-left: 45px;
}

#tabs ul > li > a > span:nth-of-type(3) {
	font-size: 40px;
	font-weight: 900;
	color: #ffaa00;
}

.ie8 .ui-tabs .ui-tabs-panel {
	box-shadow: none;
}

.ui-tabs .ui-tabs-panel {
	border: 7px solid white;
		position: relative;
			box-shadow: 0 -2px 9px -3px #B1B1B1;
}

.ui-tabs .ui-tabs-panel:before {
	height: 100%;
	width: 100%;
	display:block;
	content:'';
		border-top: 4px solid #eac300;
			position: absolute;
			left: 0;
			top: 0;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
}

.ie8 #shadow,
.ie8 #shadow-left {
	display: none;
}

#shadow {
	height: 28px;
	width: 400px;
	background: url(../images/tab-shadow.jpg) left top no-repeat;
		position: absolute;
		left: 415px;
		top: 30px;
		z-index: 3;
}

#shadow-left {
	height: 280px;
	width: 14px;
	background: url(../images/tab-shadow-left.jpg) left top no-repeat;
		position: absolute;
		left: -11px;
		top: 52px;
		z-index: 3;
}

.mainwrappbig.sc_main .column-right {
	margin-left: 159px;
	padding: 12px;
		position: relative;
}

.ie8 .column-right .demoHeaders {
		left: 475px;
		top: -14px;
		font-size: 28px;
}

.column-right .demoHeaders {
	padding: 0;
		position: absolute;
		top: 9px;
		left: 450px;
		z-index: 4;
			border: none;
}

.column-right .left {
	width: 43%;
	float: left;
}

.video {
	margin: 0;
}

.right {
	margin-left: 43%;
}

.right a.first-child {
	margin-left: 0;
}

.right .bottom-link {
	float: left;
	width: 30%;
	background: #cad0d6;
		margin-top: 0px;
		margin-left: 3.6%;
		padding: 1px;
			position: relative;
			z-index: 3;
				font-size: 13px;
				color: black;
				text-align: center;
}

.right .bottom-link:hover {
	background: gray;
		color: white;
}

.right h3 {
	margin: -7px 0 0 0;
		font-weight: 100;
		font-size: 24px;
		color: black;
			position: relative;
			z-index: 33;
}

.right h3 span {	
	color: #738393;
}

.right h4,
.right p,
.right ul {
	font-size: 12px;
	color: #738393;
}

.right h4 {
	margin: 5px 0 0;
}

.right p {
	margin: 5px 0;
}

.right ul {
	margin: 0 0 5px;
	padding-left: 18px;
}

.column-right .main-image,
.column-right .blank-image {
	position: absolute;
	left: 12px;
	top: 12px;
	z-index: 2;
}

body .column-right .blank-image {
	z-index: 3;
}

.imagemap-highlights {
	position: relative;
	z-index: 2;
}

.imagemap-highlights img {
	display: none;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
}
.imagemap-highlights2 {
	position: relative;
	z-index: 9;
}

.imagemap-highlights2 img {
	display: none;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 9;
}
.textareaWP{position: absolute;right: 32px; top: 16px;z-index:10;width:420px;}
.textareaWP h1{font-family:  Helvetica, Arial, 'Trebuchet MS', sans-serif;text-align: right;font-size: 30px;position: relative;left:0;top:0;color:#787876;}
.textareaWP .yellowLabel{background-color: #EAC300;font-size: 15px;text-align: right;padding: 5px 10px;line-height: 18px;}
.textareaWP .aWrapper{background-color:#fff;padding: 20px 0 0 10px;color:#738393;}
.textareaWP .aWrapper h3{margin: 0;font-size:13px;text-transform: uppercase;}
.textareaWP .aWrapper p{font-size:13px;margin: 0;}
.textareaWP .aWrapper .actionWP{overflow: hidden;zoom:1;margin-top:12px;}
.textareaWP .aWrapper .actionWP ul{list-style: none;padding: 0px;margin: 0;}
.textareaWP .aWrapper .actionWP ul li{float: left;width: 125px;}
.textareaWP .aWrapper .actionWP ul li.cEl{margin:0 15px;}
.textareaWP .aWrapper .actionWP ul li span{display: block;font-size:13px;}
.textareaWP .aWrapper .actionWP ul li a{display: block;color: #000;background-color:#cad0d6; font-size: 13px;padding: 4px 0;text-align: center;text-decoration: none;}
.textareaWP .aWrapper .actionWP ul li a:hover{color: #fff;background-color:#738393;}
.textareaWP .aWrapper form {margin-bottom:10px;}
.textareaWP .aWrapper form .ch_floor_finish{width: 125px !important;font-size: 13px;}
.textareaWP .aWrapper form .ch_ceiling_system{width:265px !important;font-size:13px;}
.textareaWP .aWrapper form .lbWP .seporator{margin:0 10px 0 3px;color:#fff;}
.textareaWP .note h3,.textareaWP .note p{display: inline;}
.textareaWP .level_values{overflow: hidden;zoom:1;margin-bottom: 10px;display:none;}
.textareaWP .level_values .imgLB{background: url(../images/labelImg.jpg) no-repeat 98% 0%;height: 25px;}
.textareaWP .level_values .textLB{font-size: 13px;margin-top:-10px;}
.textareaWP .level_values .textLB span{float: left;}
.textareaWP .level_values .textLB .fire_level{margin-right: 71px;}
.textareaWP .level_values .textLB .rw{margin-right: 42px;}
.textareaWP .level_values .textLB .rwctr{margin-right: 25px;}
.textareaWP .level_values ul{list-style: none;margin: 0;padding: 0;}
.textareaWP .level_values ul li{float:left;padding: 24px;margin-right: 7px;border:3px solid #eac300;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.textareaWP .level_values ul li.last{margin: 0;}
.textareaWP .level_values ul li.fire_level{padding: 16px 15px 10px;}
.textareaWP .level_values ul li.fire_level span{display: block;text-align: center;}
.textareaWP .level_values ul li.fire_level span.info{width:auto;margin-top: 0px;float: none;font-size: 1em;}

.slabEdge h1{font-family:  Helvetica, Arial, 'Trebuchet MS', sans-serif;text-align: right;font-size: 30px;position: relative;top:0;left:0;color:#787876;}
.slabEdge .yellowLabel{background-color: #EAC300;font-size: 15px;text-align: right;padding: 5px 10px;line-height: 18px;}
.edgeStepWP{overflow: hidden;zoom:1;}
.edgeStepWP ul{list-style: none;margin-left: 0px;padding: 0px;}
.edgeStepWP ul li{float:left;width:233px;cursor: pointer;}
.edgeStepWP ul li:hover .text{font-weight: bold;}
.edgeStepWP ul span.img{display: block;width:233px;height: 282px;}
.edgeStepWP ul span.text{display: block;text-align: center;margin-top: 5px;font-size: 16px;font-family:  Helvetica, Arial, 'Trebuchet MS', sans-serif;}
.edgeStepWP ul li.flux span.img{background: url('../images/flux.png') no-repeat;background-position: 0 0;}
.edgeStepWP ul li.flux:hover span.img{background-position: 0 -282px;}
.edgeStepWP ul li.overhand{margin: 0 59px;}
.edgeStepWP ul li.overhand span.img{background: url('../images/overhand_standart.png') no-repeat;background-position: 0 0;}
.edgeStepWP ul li.overhand:hover span.img{background-position: 0 -282px;}
.edgeStepWP ul li.stepedge span.img{background: url('../images/stepedge.png') no-repeat;background-position: 0 0;}
.edgeStepWP ul li.stepedge:hover span.img{background-position: 0 -282px;}
.ceil_system{position: absolute;width: 375px;height:92px;cursor:pointer;}
.ceil_system img{position: absolute;z-index:10;display:none;}

/* clear float */

.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; margin: 0; padding: 0}

/* sc_fire_floors.php */

.bbox-firefloors {
	display:			none;
	z-index:			10;
	position:			absolute;
	top:				0;
	left:				0;
	width:				810px;
	height:				427px;
	background:			#fff;
}

.bbox-firefloors > img{
	position:			absolute;
	bottom:				0;
	left:				0;
	height:				100%;
}

.bbox-firefloors .ssub {
	z-index:			11;
	position:			absolute;
	top:				0;
	left:				0;
	width:				100%;
	text-align:			center;
}

.bbox-firefloors .ssub a {
	display:			inline-block;
	padding:			3px 5px 0;
	line-height:		20px;
	margin-right:		10px;
	color:				#111;
	font-size:			14px;
	background:			#cad0d6;
	cursor:				pointer;
}

.bbox-firefloors .ssub a:hover {
	color:				#fff;
	background:			#637684;
}

.bbox-firefloors .ssub a.cls {
	float:				left;
	margin:				15px 0 0 25px;
}

.bbox-firefloors .bbox {
	margin:				15px 0 10px;
	background:			#fff;
	-webkit-box-shadow:	0px 0px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow:			0px 0px 5px 1px rgba(0, 0, 0, 0.5);
	line-height:		0;
}

.bbox-firefloors .leftx {
	float:				left;
	margin-left:		25px;
}

.bbox-firefloors .rightx {
	float:				right;
	margin-right:		10px;
}

