/* CSS Document */

/*papan*/
.text20{width:375px; height:auto; float:left; padding-top:8px; padding-left:15px; }
.text20 span{ font:bold 22px/30px Verdana, Arial, Helvetica, sans-serif; color:#343434; margin:0; padding:0; border:0;}
.text20 span strong{ font:bold 22px/25px Verdana, Arial, Helvetica, sans-serif; color:#818181; margin:0; padding:0; border:0;}
.text20 p{ font: bold 13px/18px Verdana, Arial, Helvetica, sans-serif; color:#343434; margin:0; padding:0 0 5px 0; border:0; }

.mainbox{width:923px; height: auto; float:left; margin:0; padding:0; background: url(../images/line_box.jpg) left top repeat-y; border-bottom:2px solid #FFFFFF;}

.mainbox66{width:923px; height: auto; float:left; margin:0; padding:0; background: url(../images/lin5.png) left top repeat-y; border-bottom:2px solid #FFFFFF;}
.mainbox77{width:923px; height: auto; float:left; margin:0; padding:0; background: url(../images/line5.png) left top repeat-y; border-bottom:2px solid #FFFFFF;}
.mainbox55{width:923px; height: auto; float:left; margin:0; padding:0; background: url(../images/lin3.png) left top repeat-y; border-bottom:2px solid #FFFFFF;}
.box_1{ width:100px; padding:6px; margin-right:3px; height:auto; float:left;    font:normal 13px/19px Arial, Helvetica, sans-serif; color:#788894; }

.box_2{width:355px; height:auto; float:left; font:normal 13px/19px Arial, Helvetica, sans-serif; color:#788894; }

.box_3{width:71px; height:auto; float:left;   font:normal 13px/19px Arial, Helvetica, sans-serif; color:#647785; text-align:center}
.box_4{width:71px; height:auto; float:left;   font:normal 13px/19px Arial, Helvetica, sans-serif; color:#647785; text-align:center;}
.box_5{width:126px; height:auto; float:left; font:normal 13px/19px Arial, Helvetica, sans-serif; color:#647785;  text-align:center}
.box_6{width:113px; height:auto; float:left;   font:normal 13px/19px Arial, Helvetica, sans-serif; color:#000; text-align:center}
.pic_hover{width: auto; height:auto; float:left; margin:0px;   }

.text_box6{width:103px; height:auto; float:left; margin-right:0px;   font:normal 13px/19px Arial, Helvetica, sans-serif; color:#647785; padding:5px; text-align:center}

.gary_collerbox{width:923px; height: auto; float:left; margin:0; padding:5px 0; background: #f3f3f3; border-bottom:2px solid #FFFFFF; text-align:center; font:bold 14px/18px Arial, Helvetica, sans-serif; color:#637684; }
.white_collerbox{width:923px; height: auto; float:left; margin:0; padding:5px 0; background: #FFFFFF; border-bottom:2px solid #FFFFFF; text-align: left; font:bold 16px/18px Arial, Helvetica, sans-serif; color:#637684; }




.box_1{width:100px; height:auto; float:left; margin-right:3px;   font:normal 13px/19px Arial, Helvetica, sans-serif; color:#788894; padding:6px;}
.box_2{width:355px; height:auto; float:left; margin-right:3px;  font:normal 13px/19px Arial, Helvetica, sans-serif; color:#788894; padding:6px;}
.box_3{width:63px; height:auto; float:left; margin-right:3px;  font:normal 13px/19px Arial, Helvetica, sans-serif; color:#647785; padding:10px; text-align:center}
.box_4{width:63px; height:auto; float:left; margin-right:3px;  font:normal 13px/19px Arial, Helvetica, sans-serif; color:#647785; padding:10px; text-align:center;}
.box_5{width:118px; height:auto; float:left; margin-right:3px;  font:normal 13px/19px Arial, Helvetica, sans-serif; color:#647785; padding:10px; text-align:center}
.box_6{width:105px; height:auto; float:left; margin-right:0px;   font:normal 13px/19px Arial, Helvetica, sans-serif; color:#000; padding:10px; text-align:center}

.text_box6{width:105px; height:auto; float:left; margin-right:0px;   font:normal 13px/19px Arial, Helvetica, sans-serif; color:#647785; padding:5px; text-align:center}

.gary_collerbox{width:923px; height: auto; float:left; margin:0; padding:5px 0; background: #f3f3f3; border-bottom:2px solid #FFFFFF; text-align:center; font:bold 14px/18px Arial, Helvetica, sans-serif; color:#637684; }
.white_collerbox{width:923px; height: auto; float:left; margin:0; padding:5px 0; background: #FFFFFF; border-bottom:2px solid #FFFFFF; text-align: left; font:bold 16px/18px Arial, Helvetica, sans-serif; color:#637684; }
.jump_menu2{background:#FFFFFF; border:1px solid #bebebe; font:bold 16px/30px Arial, Helvetica, sans-serif; color:#647785; outline:none; -moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px; 
-khtml-border-radius: 7px; width:250px;
behavior: url(../ie/PIE.htc);
}




.jump_menu2{background:#FFFFFF; border:1px solid #bebebe; outline:none; -moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px; 
-khtml-border-radius: 7px; width:250px;}

.text18{  font:bold 16px/30px Arial, Helvetica, sans-serif; color:#647785; }






.text15{  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#000000; }
.text17{font-family:Verdana, Arial, Helvetica, sans-serif; font-weight: normal;  color:#647684; font-size:14px;  cursor:pointer;}
.download22{width:238px; height:auto; float:left; margin-top:50px; margin-left:10px; margin-right:10px; background:#bcc5cb; border:1px solid #cdd3d8; font: bold 12px/18px Arial, Helvetica, sans-serif; color:#000; padding:5px 0;text-align:center}
.download22 a{color:#000; text-transform:none; text-decoration: none; }
.download22 a:hover{color: #FFF; text-transform:none; text-decoration: none;  }/*papan*/
.text20{width:375px; height:auto; float:left; padding-top:8px; padding-left:15px; }
.text20 span{ font:bold 22px/30px Verdana, Arial, Helvetica, sans-serif; color:#343434; margin:0; padding:0; border:0;}
.text20 span strong{ font:bold 22px/25px Verdana, Arial, Helvetica, sans-serif; color:#818181; margin:0; padding:0; border:0;}
.text20 p{ font: bold 13px/18px Verdana, Arial, Helvetica, sans-serif; color:#343434; margin:0; padding:0 0 5px 0; border:0; }
.pp{font: bold 13px/19px Arial, Helvetica, sans-serif; color:#000; padding:2px 8px; text-align:center; background:#bcc5cb; border:1px solid #a6b7c3; -moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px; 
-khtml-border-radius: 8px; cursor:pointer; display:block;behavior: url(../ie/PIE.htc);}



.boxlick77{width:300px; height: auto; display:none; float:left; background: #FFFFFF; position:absolute; margin-left:-370px; margin-top:-120px; -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-khtml-border-radius: 10px; padding:10px; border:1px solid #bcc5cb; z-index:5 ; -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc; behavior: url(../ie/PIE.htc)}
  
  .boxlick88{width:300px; height: auto; display:none; float:left; background: #FFFFFF; position:absolute; margin-left:-370px; margin-top:0px; -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-khtml-border-radius: 10px; padding:10px; border:1px solid #bcc5cb; z-index:5 ; -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;}
  
.boxlick55{float:left; width:300px; height:auto; border-bottom: 1px dotted #bcc5cb; padding-bottom:5px; text-align:left;}
.boxlick55 h4{float:left; font-size:15px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;  color:#647785; width:280px; margin:0; padding:0; text-align:left;}
.boxlick55 h3{float:left; font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight: bold;  color:#647785; width:280px; margin:0; padding:0 0 5px 0; text-align:left;}
.boxlick55 p{float:left; font: 12px/18px Arial, Helvetica, sans-serif; color:#647785; width:280px; margin:0; padding:0 0 5px 0; text-align:left;}
.boxlick55 p a{float:left; font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#0066cc; text-decoration:underline; }
.boxlick55 p a:hover{color:#000; text-decoration: none; text-align:left; }



