
/* classes for tooltips */

.hovertip {
	position: absolute;
    display: none; /* in case javascript is disabled */
	width: 124px;
	height:170px;
    background: url('../images/sub-bg.png') no-repeat;
	font-size: 12px;
	z-index: 100;
	margin-left: -66px;
	margin-top: -180px;
	}
.hovertip_target { background-color:#CAD0D6; color: #000;
}
 .hovertip_target:hover { background-color:#203b50; color:#fff;
						text-decoration: none;					  
}


.nav, .nav * {
	margin:0;
	padding:0;
}
#cloud{
	float: left;
	position:absolute;
	line-height:1.0;
	background:	url('bg.gif') no-repeat;
	width:380px; 
	height:333px; 
	padding:80px 40px 40px 40px; 
}
.nav {
	float: left;
	position:absolute;
	line-height:1.0;
	width:135px; 
	height:170px;
	padding:0px; 
}
.nav ul {
    width:150px;	
	list-style:none;	
	background:#fff; /*IE6 needs this*/
}
.nav li {
	float: left;
	list-style:none;	
	position:relative;
}
.nav a {
	color: #00008B; 
	text-decoration:none;
	display:block;
}
.nav li ul {
	left:0;
	top:-999em;
	width: 90px;
	padding-top:5px;
	height:170px;
	background: url('../images/sub-bg.png') no-repeat;
	position:absolute;
	list-style:none;
	z-index:100;
	text-align: center;
	}


ul.hovertip li {
	display:inline;
	list-style:none;
}
ul.hovertip li a{ text-decoration:none; font-style:italic}
ul.hovertip {width:125px; padding-top:10px; padding-left:5px; height:170px; padding-bottom:30px; padding-right:5px; display:block}

a.size1 {
	font-size:25px;
	padding: 10px;
	color:#4B0082;
}
a.size1:hover {
	color:#E13728;
}
a.size2 {
	padding: 7px;
	font-size:20px;
	color:#B9251A;
}
a.size2:hover {
	color:#E13728;
}


a.size3 {
	padding: 5px;
	font-size:35px;
	color:#C4876A;
}

a.size3:hover {
	color:#E13728;
}

a.size4 {
	padding: 5px;
	font-size:15px;
	color:#B46A47;
}

a.size4:hover {
	color:#E13728;
}

a.size5 {
	padding: 5px;
	font-size:25px;
	color:#E13728;
}
a.size5:hover {
	color:#B46A47;
}
a.size6 {
	padding: 0px;
	font-size:12px;
	color:#77625E
}
a.size6:hover {
	color:#E13728;
}
a.size-sub1 {
	padding: 20px;
	font-size:12px;
	color:#804D40;
}
a.size-sub1:hover {
	color:#fff;
}
a.size-sub2 {
	padding: 25px;
	font-size:20px;
	color:#E13728;
}
a.size-sub2:hover {
	color:#fff;
}
a.size-sub3 {
	padding: 10px;
	font-size:13px;
	color:#fff; line-height:13px;
}
a.size-sub3:hover {
	color:#00008B;
}
a.size-sub4 {
	padding: 15px;
	font-size:15px;
	color:#fff;
}
a.size-sub4:hover {
	color:#E13728;
}
