 


 
#cloud{
	float: left;
	position:absolute;
	line-height:1.0;
	background:	url('bg.gif') no-repeat;
	width:380px; 
	height:333px; 
	padding:80px 40px 40px 40px; 
}



ul.hovertip li {
	display:inline;
	list-style:none;
}

ul.hovertip {
display: none;
 }
 ul.hovertip li img, ul.hovertip li div  {
 position: absolute;
 top: -6px;
 left: 7px;
 z-index:10;
 }
 ul.hovertip li div {
 z-index: 11;
 width: 133px;
 height: 126px;
 color: white;
 font-size: 10px;
 line-height: 12px;
 padding: 7px 0 0;
 }

a.size1 {
	font-size:25px;
	padding: 10px;
	color:#4B0082;
}
a.size1:hover {
	color:#E13728;
}
a.size2 {
	padding: 7px;
	font-size:20px;
	color:#B9251A;
}
a.size2:hover {
	color:#E13728;
}


a.size3 {
	padding: 5px;
	font-size:35px;
	color:#C4876A;
}

a.size3:hover {
	color:#E13728;
}

a.size4 {
	padding: 5px;
	font-size:15px;
	color:#B46A47;
}

a.size4:hover {
	color:#E13728;
}

a.size5 {
	padding: 5px;
	font-size:25px;
	color:#E13728;
}
a.size5:hover {
	color:#B46A47;
}
a.size6 {
	padding: 0px;
	font-size:12px;
	color:#77625E
}
a.size6:hover {
	color:#E13728;
}
a.size-sub1 {
	padding: 20px;
	font-size:12px;
	color:#804D40;
}
a.size-sub1:hover {
	color:#fff;
}
a.size-sub2 {
	padding: 25px;
	font-size:20px;
	color:#E13728;
}
a.size-sub2:hover {
	color:#fff;
}
a.size-sub3 {
	padding: 10px;
	font-size:13px;
	color:#fff; line-height:13px;
}
a.size-sub3:hover {
	color:#00008B;
}
a.size-sub4 {
	padding: 15px;
	font-size:15px;
	color:#fff;
}
a.size-sub4:hover {
	color:#E13728;
}
