
.dint-head {

}
.newaccelmav{
    background: url("..images/envel.png") no-repeat scroll 0 0 transparent;
    height: 42px;
    overflow: hidden;
    position: absolute;
    right: 268px;
    text-indent: -999px;
    top: 4px;
    width: 57px;
}
form .newaccelmav{
    right: 327px;
    top: 3px;
}
.dint-head {    width: 425px;
}
.dint-head  h1{
    background: url("..images/mailicon.png") no-repeat scroll 0 0 transparent;
    color: #FFC700;
    font-size: 38px;
    font-weight: normal;
    line-height: 86px;
    margin: 5px 0 0 -25px;
    padding: 0 0 0 106px;
    position: relative;
	    width: 355px;
	    width: 440px!ie;
}
.dint-head  h1 span{
    border-left: 2px solid #000000;
    color: black;
    display: block;
    float: right;
    font-size: 18px;
    height: 35px;
    line-height: 17px;
    margin: 27px 0 0;
    padding: 0 0 0 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 160px;
}
.main-page table { font-size: 13px;}
.main-page table th{
    background: none repeat scroll 0 0 #b0c0cf;
    font-weight: bold;
    padding: 4px 8px;
    text-align: left;
    vertical-align: top;
    font-size: 11px; 
    border-bottom: 3px solid #fff;
}
.main-page span.tip {
    background: url("..images/tipbg.png") no-repeat scroll 0 0 transparent;
    color: #7F3400;
    display: block;
    font-size: 11px;
    height: 56px;
    height: 66px!ie;
    line-height: 11px;
    padding: 10px 6px;
    position: absolute;
    right: 150px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFD600;
    top: 24px;
    width: 66px;
    width: 79px!ie;
}
.main-page span.tipright {
    background: none repeat scroll 0 0 #FFC90E;
    color: #000000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    padding: 6px;
    position: absolute;
    right: 21px;
    text-shadow: 1px 1px 0 #FFD600;
    top: 54px;
	}

.main-page table .date{
    width: 50px;
}
.main-page table .req{
    width: 50px;
} 
.main-page table .exp{
    width: 51px; 
}
.main-page table .prname{
    width: 140px; 
}

.main-page table .comment{
    width: 340px; 
}

.main-page table .refnumb{
    width: 80px; 
}
.main-page table .pradr{
    width: 380px;
}
.main-page table .desguit{
    width: 270px; 
}
.main-page table td{
    font-weight: normal;
    padding: 4px 8px;
    text-align: left;
    border-right: 1px solid #b0c0cf;
}
.main-page table td a {
color: #549bd4;
text-decoration: none;
}
.main-page table td a.dialog {
    background: none;
    border: 0 solid #FFFFFF;
    border-radius: 0 0 0 0;
    color: #549BD4;
    display: inline;
    float: right;
    font-size: 11px;
    font-weight: normal;
    margin: 0 auto;
    padding: 0;
    text-align: right;
    text-decoration: none;
    width: auto;
}
.top-bl.shadow {
    box-shadow: none;
}


div.success {
    background: url("images/success.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 298px;
    left: 190px;
    position: absolute;
    top: 40px;
    width: 298px;
    z-index: 999;
}

.row-0{
 background-color: #F0F0F0;
}
.rowf-0{
 background-color: #F0F0F0;
}
.rowf-1{
 background-color:  	#C0C0C0 ;
}
 .wr {
    height: 309px;
    overflow: auto;
}

.unviewed{
font-weight: bold;
}
.viewed{
font-weight: normal;
}