#mask {
  position:fixed;
    position:absolute!ie;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  position:absolute!ie;
  left:0;
  top:0;
  width:440px;
  height:600px;
  display:none;
  z-index:9999;
  padding:20px;
    background:#ffffff;
}
#boxes #dialog2  {  }
#boxes #dialog {
  width:440px;
  height:600px;
  padding:15px;
  background:#ffffff;
  border: 1px solid #ffffff;
	border-radius: 8px;
	 -moz-border-radius: 8px; /* Firefox */
      -webkit-border-radius: 8px; /* Safari, Chrome */
      -khtml-border-radius: 8px; /* KHTML */
      /* behavior: url(/css/border-radius.htc); */ /* IE border-radius */
        color: #50788B;
}

label {
    color: #000;
}
#dialog h4{    height: 30px;}
.close {
       float: right;
    font-size: 11px;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: none;
	}
#listings a.dialog {display: none;}

#dialog fieldset {
    margin: 0 0 20px;
    padding: 0 0 20px;
	border: none;
	border-bottom: 1px solid #ccc;
	
	}
#dialog label.error {
    color: red;
    display: block;
    float: none;
    font-size: 10px;
    margin: -1px 0 -14px 150px;
    width: auto;
	}
#dialog label {
    float: left;
    margin: 14px 0 0;
    width: 150px;
}
#dialog input[type=submit].edit {
	    font-size: 18px;
    width: auto !important;
	background: #50788B;
	border: 0px solid #50788B;
	border-radius: 8px;
	 -moz-border-radius: 8px; /* Firefox */
      -webkit-border-radius: 8px; /* Safari, Chrome */
      -khtml-border-radius: 8px; /* KHTML */
      /* behavior: url(/css/border-radius.htc); */ /* IE border-radius */
	  color: #ffffff;
	  }
p.thank {
    border: 1px dashed;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}
#dialog input.edit {
    margin: 14px 0 0;
    width: 280px !important;
}

#dialog select{
    margin: 14px 0 0;
    width: 282px !important;
}

a.dialog {

}