.scrollgeneric {
line-height: 1px; font-size: 1px;
position: absolute; top: 0; left: 0;
}
.vscrollerbase, .vscrollerbar {
width: 17px;
}
.hscrollerbase, .hscrollerbar {
height: 31px;
}
.vscrollerbar, .hscrollerbar {
padding: 31px;
z-index: 2;
}
.vscrollerbarbeg {
	width: 13px;
	margin:0 2px 0 1px;
	background:#FFFFFF;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; 
-khtml-border-radius: 10px;
border:1px solid #CCCCCC;
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
	cursor:pointer;
	behavior: url(../ie/PIE.htc);
}
.vscrollerbase, .hscrollerbase {
background-color: #D1DDCB;
background-image: url(../images/bg.png);
}

.vscrollerbasebeg {
width: 17px;
background: url(../images/top.jpg) 0px 0px no-repeat;
}

.vscrollerbaseend {
height:30px; width: 17px;
background: url(../images/footer.jpg) 0px 0px no-repeat;
}


