#page {

}
.form-post-code {
padding-top: 0;}
.postcode-title {
	padding-top: 4px; 
}
.form-post-code fieldset {
width: 125px;
}
#f-navigation table {

    position: relative;
    text-align: right;

    z-index: 20;
	    height: 100px;
		margin-right:10px;
}
#f-navigation table td div{


    padding: 0;
    position: relative;
    text-align: center;
    width: 108px;
	height: 100px;
	
}

#f-navigation  a {
	text-decoration: none;
}

#f-navigation table td span {
    color: #050410;
    display: block;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding-top: 84px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    z-index: 30;
}
#f-navigation table td div.expert span {
	margin-right: 6px;
	}
#f-navigation a:hover span {
	text-shadow: 1px 1px 8px #fff;
}
#f-navigation table td div.big  span{

    margin-left: 3px;
}

#f-navigation table td img.f-items-top {
	position: absolute;
	bottom:20px;
	left: 50%;
	margin-left: -37px;
}
#f-navigation table td img.f-items-bottom {
	position: absolute;
	bottom:0;
	left: 50%;
	margin-left: -37px;
}
.copyright .legal {
    bottom: -1px;
	}
	
.mainwrappbig {
    height: 384px;
}
.main-navigation ul li ul li input[type=text] {

font-size: 10px;
}
.main-navigation ul li ul.searchul {
    width: 185px;}
.main-navigation ul li ul.searchul input#sw {
    height: 19px;
}
.main-navigation ul li ul {
    background: none repeat scroll 0 0 #A9A9A9;
    display: none;
    left: 0;
    width: 100%;
    position: absolute;
    top: 21px;
}
.main-navigation ul li a.searcha {padding-top: 0px;} 
.mainwrappbig #product_titles1 h2 {
width:272px;
}
.imghead {
position:absolute; 
left:0; top:0; z-index: 0;}
a.compareres {
    width: 356px;
}
.training_summary {
    height: 300px;
	width: 356px;
}
.body_courses {
height: 362px; 
}
.training_home .leftside p {
    margin: 13px 0;
	line-height: 15px;
}
.training_home .leftside a {
margin-top: 18px;}

.techlit-det  {
height: 408px;
}
 
.techlit-choose {
    height: 298px;
}

.mainwrappbig #product_titles1 {
height: 339px;
width: 278px;
}
.techlit-choose .prodman #product_titles {
height: 190px;}
.techlit-choose .prodman {
height: 199px;
}

.techlit-choose .specs {
height: 260px;
}
.techlit-choose .specs #product_titles {
height: 270px;}