@charset "utf-8";
/* CSS Document */
a {
	text-decoration:none
}
li {
	list-style:none;
}
#main {
	width:100%;
	background-color:#e7e8e9;
}
.wrapper {
	width:980px;
	margin:0 auto;
	background-color:#fff;  margin:0px auto; padding:0px;
}
/**********************header**************************/
header {
	width:980px;
}
.head {
	width:100%;
	overflow:hidden;
}
.head-lft {
	width:570px;
	float:left; margin-top:5px;
}
.head-lft img {
	margin-left:29px;
}
.head-rht {
	width:388px;
	float:right;
}
.rht-bg {
	width:69px;
	background:url(../images/headbg.jpg) no-repeat;
	height:48px;
	float:left;
}
.rht-col {
	background-color: #F0EFF1;
	display: inline-block;
	float: right;
	height: 48px;
	width: 319px;
}
.welcome {
	color: #7290A3;
	font-family: Kalinga;
	font-size: 12px;
	font-weight: bold;
	margin-left:68px;
	margin-right: 9px;
}
.login {
	display: block;
	float: right;
	margin-right: 10px;
	margin-top: 3px;
	overflow: hidden;
	width: 295px;
}
.login a {
	background-color: #D2D7DD;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 2px 5px;
	text-decoration: none;
}

.login a:hover{background-color:#203b50; color:#fff;}
.logout {
	color: #FFFFFF;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top:2px;
	text-decoration: none;
}

.logout a:hover{background-color:#203b50; color:#fff;}
nav{
	width:100%;
	float:left;
	clear:both;
	background-color:#6f7072;
	border:1px solid #68696b;
}
.nav-lft {
	width:760px;
	float:left;
	height:21px;
	background-color:#6f7072;
}
.nav-lft a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#fff;
	margin: 0 6px 0px 26px;
	font-weight:bold;
	text-decoration:none;
	
	
}

.nav-lft a:hover{color:#CCC;}
.nav-rht {
	float:right;
	background-color:#6f7072;
}
.nav-rht img {
	vertical-align:middle;
	margin-right:20px;
}
.index {
	overflow: visible;
}
.tools {
	width:940px;
	margin:21px 23px 12px 20px;
	display:inline-block; overflow:visible;
	
}
.sec1 {
	width:432px;
	float:left;
	border: 1px solid #dfe2e6;
}
.sec1 h6 {
	text-align:center;
}
.tools-pic {
	display:inline-block;
	float:left;
	padding:0;
	margin:0px;
	width:144px;
}
.tools-pic li, .tools-pic1 {
	list-style:none;
	font-size:12px;
	font-family:Helvetica;
	display:block;
	color:#6e7e8f;
	text-align: center;
}
.last {
	margin-bottom: 9px;
	margin-top: 7px;
}
.btn {
	background-color: #CAD0D6;
	border: 1px solid #D8DCE0;
	color: #000;
	display: inline-block;
	font-family:Helvetica;
	font-size: 15px;
	vertical-align:bottom;
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 62px;
}

.btn:hover{background-color:#203b50; color:#fff;}

.sec2 {
	border: 1px solid #DFE2E6;
	float: left;
	margin-left: 10px;
	text-align: center;
	width: 346px;
}
.tools-pic1 {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: 115px;
}
.sec3 {
	border: 1px solid #DFE2E6;
	float:right;
	margin-left: 8px;
	text-align: center;
	width: 135px;
}
.update {
	width:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	display:inline-block;
}
.cost-lib {
	border: 2px solid #D5DADF;
	float: left;
	margin: 0 10px 0 19px;
	padding: 0;
	width: 431px;
}
.cost-lib ul {
	padding:0;
	margin:5px 0 5px 0;
	text-align: center;
}
.cost-lib ul li {
	color: #6E7E8F;
	display: inline-block;
	font-family:Helvetica;
	font-size: 12px;
	margin: 0 4px 0 17px;
	text-align: left;
}
.info {
	width:493px;
	float:left;
	font-family:Helvetica;
	font-size:10px;
	margin-top: 3px;
	color:#6e7e8f;
}
. footer {
margin-top:20px;
clear:both;
}
.footer-main {
	background: url(../images/footer-bg.jpg) repeat-x scroll 0 0 transparent;
	height: 94px;
	margin: 0 auto;
	text-align: center;
	width: 980px;
}
.footer-main a {
	margin-right: 15px;
}
.footer-main a img {
	margin-top: 7px;
	clear:both;
}
.site-by {
	width:100%;
	background-color:#96979b;
	overflow:hidden;
	height:22px;
}
.by {
	float:left;
	width:800px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#f2f2f2;
	margin:5px 15px;
}
.link {
	float:right;
	font-size:10px;
	color:#f2f2f2;
	text-decoration:none;
	margin:5px 15px;
}
/*************inner-page1**************************/

sup { font-size:7px;}
.left-pera {
	width:187px;
	float:left;
	margin-right:8px;
	font-size:12px;
	color:#8a98a3;
	font-family:Verdana, Geneva, sans-serif;
	text-align: left;
}
.opt1 {
	float:left;
	width:232px;
	border: 2px solid #dee2e5;
	text-align:center; display:block;
}
.space {
	margin:0 17px 0 17px;
}
.state {
	margin:0px;
	padding:0px;
}
.img1 img {
	vertical-align:top;
	margin:23px 0px 0 12px; float:left;
}
.img2 img { margin-top:-22px; float:left; overflow:visible; display:block; position:relative; margin-left:5px;
}
.hd {
	font-size:10px;
		color:#6e7e8f;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
}
