#mycustomscroll {
	width:940px;
	height:300px;
	overflow: auto;
	position: relative;
	/*background-color: #E7EADE;*/
	margin:0px auto;
	padding:0px;
}
#mycustomscroll2 {
	width: 500px;
	height: 250px;
	overflow: auto;
	position: relative;
	background-color: #E7EADE;
	margin: 0.3em auto;
	padding: 15px;
}

.fixedwidth {
/* a wide div is used for creating horizontal scrollbars for demonstration purposes */
width:300px;
height: auto;
min-height:1900px;
position: relative;
color: black;
padding: 1px;
outline:none;
}

