body {
	font-family:Helvetica, Arial, 'Trebuchet MS', sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}

section p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing block. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
}

.container {
	width: 960px;
	background: #FFFFFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */

/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the block elements. The elements within these blocks have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the block itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the block element and place a second block element within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a block set to float right). Many times, padding can be used instead. For blocks where this rule must be broken, you should add a "display:inline" declaration to the block element's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar blocks could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the left instead of the right, simply float these columns the opposite direction (all left instead of all right) and they'll render in reverse order. There's no need to move the blocks around in the HTML source.

*/
.content {
	
	width: 841px;
	height:440px;
	float: left;
	margin-top:-12px;
	margin-left:-12px;
	background-image:url(../bca_images/bg.jpg);
	
}
aside {
	float: left;
	width: 180px;
	background: #EADCAE;
	padding: 10px 0;
}


/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, nav, article, figure {
	display: block;
}
#heading
{

 width:100%;
 height:40px;

 padding-top:5px;
 
}
.heading-box1-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.heading-box1-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-box2-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.heading-box2-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-climate123-section
{
 width:315px;
 height:40px;

 padding-top:20px;
 font-size:22px;
 color:#738393;
 float:left;
 padding-right:0px;
}
.heading-climate123-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-climate456-section
{
 width:315px;
 height:40px;

 padding-top:20px;
 font-size:22px;
 color:#738393;
 float:left;
 padding-right:0px;
}
.heading-climate456-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-climate7-section
{
 width:315px;
 height:40px;

 padding-top:20px;
 font-size:22px;
 color:#738393;
 float:left;
}
.heading-climate7-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-climate8-section
{
 width:315px;
 height:40px;

 padding-top:20px;
 font-size:22px;
 color:#738393;
 float:left;
}
.heading-climate8-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-climate-img1-section
{
 width:308px;;
 height:40px;

 padding-top:20px;
 font-size:22px;
 color:#738393;
 float:left;
}
.heading-climate-img1-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-climate-img2-section
{
 width:auto;
 height:40px;

 padding-top:20px;
 font-size:22px;
 color:#738393;
 float:left;
}
.heading-climate-img2-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-climate-img3-section
{
 width:420px;;
 height:40px;

 padding-top:20px;
 font-size:22px;
 color:#738393;
 float:left;
}
.heading-climate-img3-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-box3-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.heading-box3-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-box4-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.heading-box4-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-box5-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.heading-box5-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-box6-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.heading-box6-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-box7-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.heading-box7-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-box8-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.heading-box8-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.heading-box9-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.heading-box9-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}

.bca-method1-box-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.bca-method1-box-close
{
background-color:#cad0d6;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}
.bca-method2-box-section
{
 width:100%;
 height:40px;

 padding-top:15px;
 font-size:22px;
 color:#738393;
}
.bca-method2-box-close
{
background-color:#F2F2F2;
padding:4px;
font-size:20px;
color:#000;
cursor:pointer;

}

#heading p
{
padding-right:30px;
padding-top:10px;
color:#787876;
font-size:29px;

}
.main-content-home
{
 font-size:13.5px;
}

.main-content-home p
{
padding-right:29px;
padding-top:15px;
}
.main-content-box1-section
{
 font-size:13.5px;
}
.main-content-box2-section
{
 font-size:13.5px;
 width:480px;
 float:left;
}

.main-content-box2-section2
{
 font-size:13.5px;
 width:351px;
 float:right;
 margin-top:-20px;

}
.main-content-climate123-section
{
 font-size:13.5px;
 width:308px;
 float:left;
}

.main-content-climate123-section2
{
 font-size:13.5px;
 width:516px;
 float:right;

}
.main-content-climate456-section
{
font-size:13.5px;
 width:308px;
 float:left;
}
.main-content-climate7-section
{
font-size:13.5px;
 width:308px;
 float:left;
}

.main-content-climate8-section
{
font-size:13.5px;
 width:308px;
 float:left;
}

.main-content-climate-img1-section
{
font-size:13.5px;
 width:308px;
 float:left;
}


.main-content-climate-img2-section
{
font-size:13.5px;
 width:308px;
 float:left;
}


.main-content-climate-img3-section
{
font-size:13.5px;
 width:395px;
 float:left;
}

.main-content-climate456-section2
{
 font-size:13.5px;
 width:516px;
 float:right;
}
.main-content-climate7-section2
{
 font-size:13.5px;
 width:516px;
 float:right;
}

.main-content-climate8-section2
{
 font-size:13.5px;
 width:516px;
 float:right;
}

.main-content-climate-img1-section2
{
 font-size:13.5px;
 width:427px;;
 float:right;
}
.main-content-climate-img2-section2
{
 font-size:13.5px;
 width:427px;;
 float:right;
}
.main-content-climate-img3-section2
{
 font-size:13.5px;
 width:411px;;
 float:right;
}

.main-content-box3-section1
{
 font-size:13.5px;
}
.main-content-box4-section
{
 font-size:13.5px;
}

.main-content-box5-section
{
 font-size:13.5px;
}

.main-content-box6-section
{
 font-size:13.5px;
}

.main-content-box7-section
{
 font-size:13.5px;
}

.main-content-box8-section
{
 font-size:13.5px;
}

.main-content-box9-section
{
 font-size:13.5px;
}

.bca-method1-box-section-content
{
 font-size:13.5px;
}
.bca-method2-box-section-content
{
 font-size:13.5px;
}


.main-content-box1-section p
{
padding-right:29px;
padding-top:5px;
width:630px;
}
.main-content-box2-section p
{
padding-right:29px;
padding-top:5px;

}
.main-content-climate123-section p
{
text-align:left;
padding-top:5px;
color:#333;

}
.main-content-climate456-section p
{
text-align:left;
padding-top:5px;
color:#333;


}
.main-content-climate7-section p
{
text-align:left;
padding-top:5px;
color:#333;


}
.main-content-climate8-section p
{
text-align:left;
padding-top:5px;
color:#333;


}
.main-content-climate-img1-section p
{
text-align:left;
padding-top:5px;
color:#333;


}
.main-content-climate-img2-section p
{
text-align:left;
padding-top:5px;
color:#333;


}
.main-content-climate-img3-section p
{
text-align:left;
padding-top:5px;
color:#333;


}
.main-content-box3-section1 p
{
padding-right:29px;
padding-top:5px;
width:630px;
}
.main-content-box4-section p
{
padding-right:29px;
padding-top:5px;
width:630px;
}
.main-content-box5-section p
{
padding-right:29px;
padding-top:5px;
width:630px;
}
.main-content-box6-section p
{
padding-right:29px;
padding-top:3px;
width:630px;
}
.main-content-box7-section p
{
padding-right:29px;
padding-top:5px;
width:630px;
}
.main-content-box8-section p
{
padding-right:29px;
padding-top:5px;
width:630px;
}
.main-content-box9-section p
{
padding-right:29px;
padding-top:5px;
width:630px;
}
.bca-method1-box-section-content p
{
padding-right:29px;
padding-top:5px;
width:530px;
}
.bca-method2-box-section-content p
{
padding-right:29px;
padding-top:5px;
width:715px;
}
.main-content-img
{
width:auto;height:auto;float:right;
padding-right:0px;
margin-top:-20px;
}
.main-content-box1-img
{
width:auto;height:auto;float:right;
padding-right:20px;
margin-top:-131px;
}
.main-content-box2-img
{
width:auto;height:auto;float:right;
padding-right:20px;
margin-top:-131px;
}
.main-content-box3-img
{
width:auto;height:auto;float:right;
padding-right:20px;
margin-top:21px;
}

.main-content-box4-img
{
width:auto;height:auto;float:right;
padding-right:20px;
margin-top:-17px;
}

.main-content-box5-img
{
width:auto;height:auto;float:right;
padding-right:20px;
margin-top:-130px;
}
.main-content-box6-img
{
width:auto;height:auto;float:right;
padding-right:20px;
margin-top:-57px;
}
.main-content-box7-img
{
width:auto;height:auto;float:right;
padding-right:20px;margin-top:0px;
}
.main-content-box8-img
{
width:auto;height:auto;float:right;

padding-right:20px;
margin-top:-41px;
}
.main-content-box9-img
{
width:auto;height:auto;float:right;
padding-right:20px;
margin-top:30px;
}
.bca-method1-box-section-img
{
	width:auto;
	height:auto;
	float:right;

padding-right:20px;
margin-top:-238px;
margin-right:0px;
}


#methods
{
width:500px;height:auto;
padding-left:10px;
}
.bca-method1
{
	width:573px;height:23px;background-color:#CCC;
	cursor:pointer;
	
	padding-left:7px;
	padding-top:2px;
	font-size:17px;

  
}
.bca-method1 p
{

}
.bca-method2
{
width:573px;height:23px;background-color:#CCC;margin-top:10px;
cursor:pointer;
	padding-left:7px;
	padding-top:2px;
	font-size:17px;
}
#default-section
{
display:block;
padding:5px;
height:300px;



}
#bca-method1-section
{
display:none;
padding:5px;
height:332px;

}
#bca-method2-section
{
display:none;
padding:5px;
height:300px;

}
#box1
{
width:116px;
height:97px;
padding:0px;margin:0px;
float:left;
cursor:pointer;
background-image:url(../bca_images/light/1.jpg);
background-position:left;
font-size:16px;

}

#box1 p
{
 padding-top:25px;
 padding-left:30px;
}
#box2
{
width:92px;height:97px;padding:0px;margin:0px;float:left;
cursor:pointer;
background-image:url(../bca_images/light/2.jpg);
}
#box2 p
{
	 padding-top:25px;
 padding-left:10px;
 font-size:16px;
 padding-right:0px;
 padding-bottom:0px;
 margin:0px;


}
#box2 span
{
font-size:9px;
padding-left:10px;

}
#box3
{
width:72px;height:97px;padding:0px;margin:0px;float:left;
cursor:pointer;
background-image:url(../bca_images/light/3.jpg);
}
#box3 p
{
	padding-top:25px;
    padding-left:10px;
font-size:16px;

}
#box4
{
width:74px;height:97px;padding:0px;margin:0px;float:left;
cursor:pointer;
background-image:url(../bca_images/light/4.jpg);
}
#box4 p
{
	padding-top:25px;
    padding-left:10px;
font-size:16px;

}

#box5
{
width:73px;height:97px;padding:0px;margin:0px;float:left;
cursor:pointer;
background-image:url(../bca_images/light/5.jpg);
}
#box5 p
{
	padding-top:25px;
    padding-left:10px;
font-size:16px;

}

#box6
{
width:105px;height:97px;padding:0px;margin:0px;float:left;
cursor:pointer;
background-image:url(../bca_images/light/6.jpg);
}
#box6 p
{
	padding-top:25px;
    padding-left:10px;
font-size:16px;
}
#box7
{
width:92px;height:97px;padding:0px;margin:0px;float:left;
cursor:pointer;
background-image:url(../bca_images/light/7.jpg);
}
#box7 p
{
	padding-top:25px;
    padding-left:10px;
font-size:16px;

}
#box8
{
width:95px;height:97px;padding:0px;margin:0px;float:left;
cursor:pointer;
background-image:url(../bca_images/light/8.jpg);
}
#box8 p
{
	padding-top:25px;
    padding-left:5px;
font-size:16px;

}
#box9
{
width:98px;height:97px;padding:0px;margin:0px;float:left;
cursor:pointer;
background-image:url(../bca_images/light/9.jpg);
}
#box9 p
{
	padding-top:25px;
    padding-left:9px;
	font-size:12px;
	padding-right:0px;

}
#box1-section
{
display:none;
padding:5px;
height:300px;
}
#box2-section
{
display:none;
padding:5px;
height:300px;
}
#climate123-section
{
display:none;
padding:5px;
height:300px;
}
#climate456-section
{
display:none;
padding:5px;
height:300px;
}
#climate7-section
{
display:none;
padding:5px;
height:300px;
}
#climate8-section
{
display:none;
padding:5px;
height:300px;
}

#climate-img1-section
{
display:none;
padding:5px;
height:300px;
}

#climate-img2-section
{
display:none;
padding:5px;
height:300px;
}

#climate-img3-section
{
display:none;
padding:5px;
height:300px;
}
#box3-section
{
display:none;
padding:5px;
height:300px;
}
#box4-section
{
display:none;
padding:5px;
height:300px;
}
#box5-section
{
display:none;
padding:5px;
height:300px;
}
#box6-section
{
display:none;
padding:5px;
height:300px;
}
#box7-section
{
display:none;
padding:5px;
height:300px;
}
#box8-section
{
display:none;
padding:5px;
height:300px;
}

#box9-section
{
display:none;
padding:5px;
height:300px;
}
#menu-item
{
	width:841px;
	background-image:url(../bca_images/menu.jpg); background-repeat:no-repeat;
	background-position:bottom;
	position:fixed;

	
}
.menu-item-container
{
width:841px;
height:97px;
}
.menu-bar
{
font-size:13px;
}
.menu-bar-content
{
margin-left:20px;
margin-top:-30px;

}
.table_font
{
font-weight:bold;
}
.table_span_font
{
 font-size:12px;
}