
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;

}
.jScrollPaneScrollable {
	background:url(/images/scrollpane.gif) 100% 0 repeat-y;
}
.jScrollPaneContainer:focus {
outline: none;
}
.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: none;

}
.jScrollPaneDrag {
	position: absolute;
	background: #666;
	cursor: pointer;
	overflow: hidden;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;

	height: 9px;
	background: url(/images/scrollar.jpg) no-repeat -14px 0;
}
a.jScrollArrowUp:hover {

	background: url(/images/scrollar.jpg) no-repeat 0 0;
}

a.jScrollArrowDown, a.jscrollarrowdown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;

	height: 9px;
	background:  url(/images/scrollar.jpg) no-repeat -14px -9px;
}
a.jScrollArrowDown:hover {

	background: url(/images/scrollar.jpg) no-repeat 0 -9px;
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	
}